[2015-12-22 20:54] brycheiniog opened #2 "Need to buffer serial data."
Hi,

I just tried running v3.2.5 of the package in ModbusRTU mode against this Modbus Simulator: http://www.plcsimulator.org/

When I try and run the simple logger example, I get loads of errors about the Data Length not being what is expected (See line 192 of index.js).

This is happening because the serialport module is passing you data as it gets it from the far end and not waiting.

One option

[2015-12-23 08:09] yaacov commented on #2
hi,

thank you for the issue !

please check the git version, i added a bufferd serial port:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/rtubufferedport.js
https://github.com/yaacov/node-modbus-serial/blob/master/examples/logger-buffered-rtu.js

happy solstice.

[2015-12-23 10:03] brycheiniog commented on #2
Great, that has fixed the issue I was seeing.

Thanks!

[2015-12-23 10:03] #2 closed

[2015-12-23 10:41] yaacov commented on #2
:-)

[2015-12-23 10:43] brycheiniog commented on #2
Are you going to release a new version of the package?

Thanks

[2015-12-23 10:58] yaacov commented on #2
v3.3.5 !

[2016-01-27 08:06] connium opened #5 "Inconsistent error handling"
Hi Yaacov,
thanks for providing this module :)

While reading the code I wonder at how the error handling is done.

In index.js the on-data-handler checks if the emitted data matches the expectations (address, function code, length, ...). If any check fails, the callback is invoked with an error.

This works well for the TestPort and probably for the TcpPort as well (can't test it yet). But for th

[2016-01-27 08:12] yaacov commented on #5
If it follows the Zen:
    Beautiful is better than ugly.
    Explicit is better than implicit.
    Simple is better than complex.
    ...
It's OK by me :-)

[2016-01-28 07:34] yaacov commented on #5
@connium I'm a little overwhelmed right now with other stuff,
if you are looking into the code for the exception handling ... can you review:
https://github.com/yaacov/node-modbus-serial/pull/4
1. It's a little rough around the edges.
2. I do not have any controller that implement FC15, so I can not check it in the wild :-)

[2016-01-28 14:37] connium commented on #5
Sure. I'll check #4 tomorrow morning.

[2016-01-30 18:12] yaacov commented on #5
I looked at the error handling is done inside the ports ...
It is very hard to know if you have a partial-message / message-for-someone-else or an actual error.
I do not see a simple way to do this ... If you can, this will be very nice :-)

p.s.
if you can't do it in a simple way, leave it.
For me, it is better to have a clear maintainable code, then to handle errors for the None Modbus Complaint

[2016-01-31 20:34] yaacov commented on #5
I've started to handle modbus exceptions, see code.
1. Currently, it only output the exception code, and not the exception string, TODO  1.
2. The buffered ports do not support this yet, TODO 2 :-)

[2016-02-01 08:22] connium commented on #5
I will take a look at your code as soon as I have time to do so.

Here some hints (we are working on in our branch but we didn't commit to https://github.com/meteocontrol/node-modbus-serial yet):
- extract the checksum-calculation to utils/crc16 (currently it is copied in each port)
- refactor the on-data-handler in index js to be a method ModbusRTU.prototype. This will largely increase testabilit

[2016-02-01 10:14] yaacov commented on #5
Just looked at your branch, Great !
1. liked the javaDoc fixes :+1:
2. Please re-base to current, because it will make it easier to merge.
3. I've added a buffer_bit.js file to api directory, it's place is in the new utils directory :-)

[2016-02-01 10:56] yaacov commented on #5
@connium : buffered-serial none-Modbus-compliant?
The modbus serial line should not be buffered:
http://www.modbus.org/docs/Modbus_over_serial_line_V1.pdf
see section 2.5.1.1 : MODBUS Message RTU Framing

[ I also worked with controllers that did not respect this, this is why we have the buffered serial :-) ]

[2016-02-10 08:10] yaacov commented on #5
@connium I want to add your changes to the javaDoc and move of utils to a utils directory.
can you make a PR for that ?

[2016-02-10 18:05] connium opened #9 "writeFC15 outputs wrong values"
When writing several coils (count other than 8), the respecting byte is expected to be filled with zeros.

E.g. writing 5 coils (true, true, true, true, true) should result in 0x1F (0001 1111).

The current implementation does not explicitly write the zeros but stops after writing the 5 bits. This may result in unexpected values as the used byte may still contain bits (other than 0).

[2016-02-10 18:15] yaacov commented on #9
Thanks, you are right !
https://github.com/yaacov/node-modbus-serial/commit/a01f8516ea0b16117c9aee8f340932cf8b4a3f9f

[2016-02-10 18:15] #9 closed

[2016-02-10 20:44] connium commented on #9
You're damn fast! Thanks. :thumbsup:

[2016-02-10 20:46] yaacov commented on #9
Next time, just do the pull request I will not have time :-)

[2016-02-11 09:09] connium commented on #5
Do you favor a name for the utils directory? Something like lib, util, utils?

[2016-02-11 10:34] yaacov commented on #5
no i do not have a convention yet :-) use what you think is the best convention you know.

[2016-02-11 11:40] connium commented on #5
Will close this issue for now and provide you with some pull requests which address the topics mentioned above.

[2016-02-11 11:40] #5 closed

[2016-02-11 11:59] yaacov commented on #5
:-)

[2016-02-11 17:01] dom-white opened #13 "pulling out crc16 has broken response check"
The new single crc16 function works for appending to requests, but fails when checking responses as it no longer skips the last two bytes i.e. the crc of the response packet.

The crc version when checking repsonses included this extra line, then referenced 'length' for the for loop rather than buf.length

var length = buf.length - 2;

[2016-02-11 17:12] dom-white commented on #13
Could be fixed by passing in a slice of the buffer as per the request side
crc16(buf.slice(0, -2))
rather than
crc16(buf)
in the ports checkData method

[2016-02-11 17:31] dom-white commented on #13
I've sent a pull request which I think fixes the issue.
It was fine on the test port, but not on the serial,tcp,udp ports

[2016-02-11 17:43] dom-white commented on #13
Closing as pull request now merged in.

[2016-02-11 17:43] #13 closed

[2016-02-11 17:46] connium commented on #13
Obviously missed some parts when cherry-picking from another branch. Damn!
Thanks @dom-white for spotting and fixing this!

[2016-02-11 17:53] yaacov commented on #13
:+1:  sorry for not checking before merging.

[2016-02-20 10:40] connium opened #17 "Use semantic versioning"
Currently it is not very obvious to me, how version numbers are set. E.g. with the latest commit, which simply added some tests, the major version number was increased.
I suggest to use semantic versioning (http://semver.org/).

Given a version number MAJOR.MINOR.PATCH, increment the:
1. MAJOR version when you make incompatible API changes,
2. MINOR version when you add functionality in a backward

[2016-02-20 11:47] yaacov commented on #17
OK ! semantic versioning is good :+1:  , 4.0.0 is a good place to start use it.

P.S
Until 4.0.0 we used the happiness versioning (tm) system. It is a good system for projects where I'm the only user :-)
1. MAJOR version when I was extremely happy with the change,
2. MINOR version when I was just happy with the change, and
3. PATCH version when it was something that we will need to fix in the futu

[2016-02-20 11:47] #17 closed

[2016-02-20 12:24] connium commented on #17
I wasn't aware of the happiness versioning (tm). It sounds like it is an extremly lightweight system and I'll think of it when I have to choose a decent versioning system for future use ;)

You made my day :joy:

[2016-02-25 10:45] numbnut opened #19 "Error Handling on connectTCP broken"
It is not possible to handle socket errors on a connectTCP call.

The suggested behavior of the example would be to print out "error handled".
Instead a Unhandled Error Event occurs.
Precondition: The port 4444 is closed!

[code]

In my opinion the problem is the call of net.Socket.connect(port, ip, eventListener) in tcpport.js in line 57. The Docu of net.Socket expects a eventListener but not a c

[2016-02-25 11:03] yaacov commented on #19
Thanks for the issue !
how do you suggest to address this ?

a. make the documentation clear that in the case of tcp, telnet and c701 the last argument is event-listener and not a callback ?
b. make the callback tol be called from a listener we create in the open method ?
c. other option ?

can you make a pull request with the option you like best ?

[2016-02-25 12:56] yaacov commented on #19
This should solve this issue:
https://github.com/yaacov/node-modbus-serial/commit/16387c5d564cc9ace417b6a5257a36b7110215aa

[2016-02-28 15:26] yaacov commented on #19
fixed by: https://github.com/yaacov/node-modbus-serial/commit/60250fb5daa3b00882b3ac44a6f510a81aa10da7

[2016-02-28 15:26] #19 closed

[2016-04-06 17:19] numbnut commented on #19
Thank you very much!

[2016-05-17 00:59] fly19890211 opened #22 "about timeout"
Hello, thanks for this module :)
and i'm using connectRTUBuffered, is there timeout for this api?

Thanks

[2016-05-17 04:34] yaacov commented on #22
Hi, thanks, it use the serialport module, timeout is a property of the serial port ...
https://github.com/voodootikigod/node-serialport
can you ask there ?

[2016-05-18 07:49] fly19890211 commented on #22
Hi,
ok. i will do that, thanks.

[2016-05-20 14:49] yaacov commented on #22
Hi, did you found how solve the problem ?

[2016-05-24 00:13] abc-z opened #23 "Why port doesn't have method to close connection?"
I want open tcp-connection, read some values and close connection.
Probably all ports in ./apis/connection.js must return "this._port" to implementation it, like below
[code]
Or it's no good?

[code]

[2016-05-24 07:10] yaacov commented on #23
Hi, thanks, can you make a pull request with the fix , ( and check that it works :-) )?

[2016-05-25 20:07] abc-z commented on #23
What is reason to make port as private member for client? Maybe change this._port to this.port is better way?

[2016-05-26 04:59] yaacov commented on #23
In the indes.js file we implemented an open function. I think a nice solution will be to add a close method, can you try and make one ?

[2016-05-27 14:24] abc-z commented on #23
I think there are 3 variants of implement disconnect ability
1. Described in first message above
[code]
2. Make port property as public member of client
[code]
3. Define new method for client
[code]
What way is better?

[2016-05-27 14:31] yaacov commented on #23
you should try all of them, and implement the one you like best.

a. test that it work and not break other things.
b. i do not like options that expose the internal port, their are many types of ports and we do not need to trust the user to know what to do with each one of them.

[2016-05-27 17:55] connium commented on #23
Up to now there is no reason to use the internal variable _port_ and I like the idea of having one clean and simple API.
Therefore I vote for introducing a new method **disconnect** on the client which matches option 3 proposed by @abc-z.

[2016-05-27 18:56] yaacov commented on #23
@connium @abc-z
we have an `open` method:
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L145
I will be more happy with a function named `close` then one named `disconnect`

@abc-z for start just do:
[code]

[2016-05-28 04:16] fly19890211 commented on #22
hello, thanks for replying.
actually, i can't find the how to solve the problem...

[2016-05-28 04:36] yaacov commented on #22
can you explain what is your use case / what you are trying to do ?
maybe their is a way to solve you problem, that does not involve timeouts ?

[2016-05-30 18:38] abc-z commented on #23
The method "open" is a port method, so method "close" may be assign to port and not pretty as connection method.
Little later I add method disconnect to connection prototype. I think It's more clear then export port property.

[2016-05-30 19:36] yaacov commented on #23
Please make a pull request when you do :+1:
Please check that the new close method solves your initial issue.

[2016-05-31 05:44] robinxc opened #25 "DC error CRC error:data:undefined"
SOURCE:
 var ModbusRTU = require("modbus-serial");
 var client = new ModbusRTU();
  client.connectRTU("/dev/ttyS1", {baudrate: 9600});
 client.setID(1);
setInterval(function() {
	client.readHoldingRegisters(1, 2, function(err, data) {
		debugger;
        console.log(err+':data:'+JSON.stringify(data) );
    });

}, 7000);
===================
ERR:
CRC error:data:undefined
Data length error, expected

[2016-05-31 06:11] #25 closed

[2016-05-31 06:36] yaacov commented on #25
What was the problem ? how it was solved ?

[2016-06-01 09:25] fly19890211 commented on #22
my case is i use it for reading inverters of solar energy station. and sometimes the inverter doesn't respond, so i need to timeout to escape the connectRTUBuffered.
Thank you.

[2016-06-01 11:06] yaacov commented on #22
hi, thanks for answering

take a look at:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/watchdog.js

1. it's tcp but it should work on rtu.
2. we have a new `close` method :tada: , so you can also close the connection and reconnect if you want.

[2016-06-08 15:24] dmitryoparin opened #27 "Missing writeCoils in apis/promise.js"
Please, add the following line:

cl.writeCoils = convert(cl.writeFC15);

in the body of function addPromiseAPI,
looks like it was unintentionally forgotten.

[2016-06-08 16:39] yaacov commented on #27
:-) fixed, when you think it's tested , i will bump version and publish to npm

[2016-06-08 20:17] dmitryoparin commented on #27
done

[2016-06-09 02:00] #27 closed

[2016-06-09 02:02] yaacov commented on #23
fixed by: https://github.com/yaacov/node-modbus-serial/pull/24

[2016-06-09 02:02] #23 closed

[2016-06-09 02:03] yaacov commented on #22
Fixed by: https://github.com/yaacov/node-modbus-serial/pull/26

[2016-06-09 02:03] #22 closed

[2016-06-09 03:22] fly19890211 commented on #22
Thanks, really appreciate for this updating.
can you please update the Readme.md about how to use timeout.

[2016-06-10 10:11] yaacov commented on #22
https://github.com/yaacov/node-modbus-serial/blob/master/examples/watchdog.js

[2016-06-13 12:27] valfis86 opened #31 "implement transaction identifier for Modbus/TCP"
Modbus/TCP messages contain a "transaction identifier". This field can be used to correlate a modbus response to the request message.

While sending multiple modbus/TCP requests to a client I faced some issues regarding the length of the expected modbus response ("Data length error, expected ..."). It seems like that you use one field to store the expected length of the answer when sending a new r

[2016-06-13 12:43] yaacov commented on #31
Thanks, I will look at it this weekend.
If you can make a pull request, It will be faster.

[2016-06-22 11:54] reejinbouk opened #32 "How to setup parity and even?"
Hi
please tell , how to setup even and parity for serial connection?

client.connectRTU("/dev/ttyUSB0", {baudrate: 9600}, write);

like this?
client.connectRTU("/dev/ttyUSB0", {baudrate: 9600, 8e1}, write); - not works

[2016-06-22 12:40] yaacov commented on #32
Hi, thanks for the issue see here:
https://github.com/EmergingTechnologyAdvisors/node-serialport#serialport-path-options-opencallback

this should work:
`client.connectRTU("/dev/ttyUSB0", {baudrate: 9600, dataBits: 8, parity: 'even', stopBits: 1}, write);`

[2016-06-23 09:04] reejinbouk commented on #32
Thank you! )

[2016-06-23 09:04] #32 closed

[2016-07-08 08:28] yaacov commented on #31
fixed by #33

[2016-07-08 08:28] #31 closed

[2016-07-26 11:03] cgoebeler opened #34 "Packet length check does not work when reading one coil"
When trying to read a single coild value from modbus via tcp I receive a "Data length error" originating at the second length check (version 4.4.3 index.js: line 256).

It works as soon as I read multiple coils.

If I comment out the length check the package itself is decoded just fine.

I've tested this with a Codesys Runtime on a Raspberry Pi. Unfortunately I don't have this modbus slave here ri

[2016-07-26 11:09] yaacov commented on #34
Hi, thanks :+1:

I will not have time to check it until the weekend ...
If you can find the problem, and make a pull request with a fix It will be great.

cc @meteocontrol

[2016-07-26 11:11] cgoebeler commented on #34
Alright, I think I'll have the modbus slave back here later today. Will fix it.

[2016-07-26 11:26] yaacov commented on #34
What command do you use to read one coil ?

[2016-07-28 13:13] #34 closed

[2016-07-28 13:16] cgoebeler commented on #34
I got my modbus slave today and after reinstalling the node module in version 4.4.3 I can not reproduce the issue anymore, also the length check is at a completely different source code location now I seem to have use an older version. Sorry for the inconvenience.

[2016-07-28 14:31] yaacov commented on #34
NP :-)
It's good to know new versions are improving ...
We have v4.5.0 now that support the new serial port API

[2016-08-20 03:33] reejinbouk opened #37 "Slave Modbus"
Hello
does it work in Modbus Slave mode?
please write example?
thank you

[2016-08-20 05:25] yaacov commented on #37
Hi, thanks for the question.

What do you mean Modbus Slave mode?

[2016-08-20 05:58] reejinbouk commented on #37
Can I make on this library the Modbus Slave device?
I can't find examples for modbus slave, all examples are for modbus master

thank you

[2016-08-20 06:36] yaacov commented on #37
This library is only master.
It can send requests to slaves.
It can not receive requests.

[2016-08-20 06:43] reejinbouk commented on #37
ok, thank you

[2016-08-20 06:43] #37 closed

[2016-08-20 06:57] yaacov commented on #37
Fixed by https://github.com/yaacov/node-modbus-serial/commit/2435cc8bc3c83ce4d2980fc61516c696da144a8e

[2016-08-22 15:26] hardillb opened #38 "Problems with serial sequenical reads"
I'm getting `Data length error` messages when trying to make multiple reads via serial.

I have a really simple setup, a rPi with a USB FTDI RS485 adapter linked to a single modbus slave.

It either fails on the second or third read, the first always works.

The code is pretty simple:

[code]

Any ideas what's going on?

[2016-08-22 15:34] yaacov commented on #38
Hi, thanks

can you try using the buffered serial port ?
e.g.
`client.connectRTUBuffered('/dev/ttyUSB0', {baudrate:38400, dataBits: 8, parity: 'none', stopBits: 1}, read1);`
and see if the error changes ?

[2016-08-22 15:46] hardillb commented on #38
That seams to have fixed things

Thanks

[2016-08-22 15:46] #38 closed

[2016-08-22 15:50] yaacov commented on #38
Well some slaves do not follow the modbus timing rules :-( ,
The buffer-RTU use a buffer to collect a fragmented message from the slave and build one valid message .
Another way to solve it will be to add a very small delay between readings ( like you did in read3, but use less time )

[2016-10-27 22:30] jovermier opened #39 "Parallel ModbusTCP"
I created an expressjs route that when called does:

Simplified version:
`app.get('/modbus', function(req, res){
  let client = new ModbusRTU();

  // open connection to a tcp line
  client.connectTCP("192.168.1.42", function() {
       client.readHoldingRegisters(1, 1, function(err, data) {
          if (err) {
              res.send(err);
          } else{
              res.send(data);

[2016-10-28 05:24] yaacov commented on #39
Hi, thanks for noticing that !

In the real app, do you have one global connected client or you create and connect each time a page is called ?

If you create a client and connect each time you get a http request:
a. try to close the connection after using it - `client.close()`
b. try to create a global `client` connect it, and after connection is made, start listening to http requests and use thi

[2016-10-28 05:32] yaacov commented on #39
Can your IoT device handle two open tcp sockets ?

[2016-10-28 15:25] jovermier commented on #39
I tried `client.close()` which solved the issue. Thanks!

[2016-10-28 15:25] #39 closed

[2016-10-28 15:57] yaacov commented on #39
:-)

[2016-11-15 12:12] pagalasoujanya commented on #25
i'm also getting the same error can you tell me how to solve that error

[2016-11-15 12:23] yaacov commented on #25
Hi,

can you try: `connectRTUBuffered` instead of `connectRTU`

[2016-11-16 04:02] pagalasoujanya commented on #25
i connected an instrument reading value from it through the modbus. instead connectRTU i tried connectRTUBuffered but it not printing any value

[2016-11-16 04:05] pagalasoujanya commented on #25
Port Not Open:data:undefined

getting the above error

[2016-11-16 04:56] yaacov commented on #25
Hi,

Try doing it the long way, and see where you get an error:

[code]
Check the serial port options:
dataBits, stopBits, parity ...
https://github.com/EmergingTechnologyAdvisors/node-serialport#module_serialport--SerialPort..openOptions

then do:
[code]
continue with your program,
and now see what happen.

p.s.
make the shortest script you can, that has this problem and post it here, maybe we wi

[2016-11-16 05:01] yaacov commented on #25
can you check the module versions you use ?
`npm ls serialport`
and
`npm ls modbus-serial`

[2016-11-16 08:05] pagalasoujanya commented on #25
serialport 4.0.6  and  4.5.1

[2016-11-16 08:14] pagalasoujanya commented on #25
not printing any value

[2016-11-16 08:24] pagalasoujanya commented on #25
i tried with the example code, which is there in the modbus-serial package in example folder only write function is printing on the console but it read function is not calling.

[2016-11-16 08:32] yaacov commented on #25
make the shortest script you can, that has this problem and post it here, maybe we will see something ... :-)

[2016-11-16 09:09] pagalasoujanya commented on #25
// create an empty modbus client
var ModbusRTU = require("modbus-serial");
var client = new ModbusRTU();

// open connection to a serial port
client.connectRTU("/dev/ttyUSB0", {baudrate: 9600});

// read the values of 2 registers starting at address 1
// on device number 1. and log the values to the console.
setInterval(function() {
    client.readHoldingRegisters(1023, 1, function(err, data) {
	c

[2016-11-16 09:09] pagalasoujanya commented on #25
error Data length error, expected 7 got 1
error Data length error, expected 7 got 1
 getting the above error
my device starting address is 1023

[2016-11-16 09:46] yaacov commented on #25
1. check the bouderate, stopbits, databits and parity of you device
2. make sure is holding registers
3. check the address, some devices use different adressing conventions:
https://en.wikipedia.org/wiki/Modbus#Coil.2C_discrete_input.2C_input_register.2C_holding_register_numbers_and_addresses
4. is your device connected to "/dev/ttyUSB0" ?
5. try this code,
    try change the serial settings for y

[2016-11-16 10:02] pagalasoujanya commented on #25
getting the output like this

Recive: { data: [ 1 ], buffer: <Buffer 00 01> }

[2016-11-16 10:11] pagalasoujanya commented on #25
Thank you its working with out any error

[2016-11-16 10:22] pagalasoujanya commented on #25
buffer: <Buffer 00 01> what is mean by this buffer what is printing on the output

[2016-11-16 10:50] yaacov commented on #25
?
I do not see what you see :-) what are you trying to say ?

[2016-11-16 11:10] pagalasoujanya commented on #25
thank you im getting the output

[2016-11-16 11:17] yaacov commented on #25
so what was the proble ?

[2016-11-16 14:57] yaacov commented on #25
@pagalasoujanya
did you solve the problem ?
how ?

[2016-11-17 04:30] pagalasoujanya commented on #25
solved i tried with the client.ModbusRTUBuffered( With all the device configurations)

[2016-11-17 04:37] yaacov commented on #25
:+1:

[2016-11-17 05:41] yaacov commented on #25
p.s
Use `connectRTUBuffered` when the device does not answer in one data frame.

The Modbus protocol specify timing for sending one data frame [1]
If the device does not follow the protocol and sent the data in fragments of frames, we collect them in a **buffer** and use the buffer to build complete frames we can parse.

[1] https://en.wikipedia.org/wiki/Modbus#Frame_format

[2017-01-02 23:06] biancode opened #40 "Unit-ID change before read"
Hi,

is it possible to set the Unit-Id per read/write with the setID function?

[2017-01-03 05:29] yaacov commented on #40
a. yes
b. if it doesn't work, we can fix it :-)

[2017-01-03 06:00] biancode commented on #40
we will see [node-red-contrib-modbus issue for Unit-Id](https://github.com/biancode/node-red-contrib-modbus/issues/32)

[2017-01-03 17:14] biancode commented on #40
I got news that the device sends a Modbus exception 3 - Illegal Data Value - see [node-red-contrib-modbus issue for Unit-Id](https://github.com/biancode/node-red-contrib-modbus/issues/32)

[2017-01-04 17:57] biancode commented on #40
works very well

[2017-01-04 17:57] #40 closed

[2017-01-05 21:44] biancode opened #41 "node-modbus"
you're now able to take node-modbus npm see you're npm account

[2017-01-06 18:12] biancode opened #42 "TypeError: Cannot read property 'isOpen' of undefined"
Hi,

in code I've that:
if (node.client && node.client.isOpen && node.client.isOpen())
to check for close or not

but sometimes:
TypeError: Cannot read property 'isOpen' of undefined

Idea what's wrong?

[2017-01-06 18:43] yaacov commented on #42
i do not think I ever implemented `isOpen` for `ModbusRTU` only for the ports ( e.g. the `._port ` ) ...
but then why does it do work sometimes ... !?

on the other hand I do check for `obj._port.isOpen()` before each send command, so if the `obj._port` is undefined (never opened , or closed) and you try to send something, you can get this error.

[2017-01-12 16:01] Yarisrespect opened #43 "Modbus TCP"
How to implement Modbus TCP protocol using modbus-serial?
Its has modbus over tcp, etc.

[2017-01-12 16:04] yaacov commented on #43
[code]

[2017-01-12 16:16] yaacov commented on #43
@Yarisrespect does that answer your question ?

[2017-01-12 16:16] Yarisrespect commented on #43
I saw that, but it is modbus over tcp I am talking about Modbus TCP wich is without CRC

[2017-01-12 16:18] Yarisrespect commented on #43
Modbus RTU over TCP

Simply put, this is a Modbus RTU message transmitted with a TCP/IP wrapper and sent over a network instead of serial lines. The Server does not have a SlaveID since it uses an IP Address instead.

Modbus TCP

A Modbus Messaging Implementation Guide provided by Schneider Automation outlines a modified protocol specifically for use over TCP/IP. The official Modbus specification

[2017-01-12 16:24] yaacov commented on #43
ok :-)

`.connectTCP` - Modbus TCP/IP or Modbus TCP — This is a Modbus variant used for communications over TCP/IP networks, connecting over port 502.

`.connectTelnet` - Wraps the Modbus RTU and send it over TCP using telnet.
`.connectC701` - Wraps the Modbus RTU and send it over UDP using the C701 proprietary protocol.

[2017-01-12 16:32] yaacov commented on #43
@Yarisrespect do you need Modbus TCP or Modbus RTU/IP ?

Modbus TCP , we have using `.connectTCP`
Modbus RTU/IP , we do not have. but the `telnet` variant sounds very similar.

[2017-01-12 16:38] Yarisrespect commented on #43
I meen that this lib sends whole RTU.
But in some cases you need send only PDU.

And one more question. Why do _transactionId in ModbusRTU object always equals 1?

[2017-01-12 16:46] yaacov commented on #43
no, the tcp variant , ascii variant and rtu variant send different frame formats,
they will not work o/w :-)

a. only the tcp frame format has a transaction identifier ( see answer to question 1 )
b. it is not, transaction identifier is automatically set and is different for each transaction.

[2017-01-12 17:17] Yarisrespect commented on #43
I am sorry. You have a point there.

[2017-01-12 17:18] yaacov commented on #43
@Yarisrespect you can look at the tests:
this transaction has an id of 1 ( see the second byte of frame ):
https://github.com/yaacov/node-modbus-serial/blob/master/test/ports/tcpport.test.js#L73
and the next transaction has an id of 2
https://github.com/yaacov/node-modbus-serial/blob/master/test/ports/tcpport.test.js#L82

[2017-01-12 17:27] Yarisrespect commented on #43
Thank you a lot) If I want to send CRC with PDU togeher over TCP I should just implement new port that would send it. Right?

[2017-01-12 17:29] yaacov commented on #43
i think the telnet port is doing exactly what you want :-)

[2017-01-12 17:33] yaacov commented on #41
Thanks, sent you  a mail.

[2017-01-12 17:33] #41 closed

[2017-01-12 17:35] yaacov commented on #43
@Yarisrespect
a. yes
b. I think that the telnet port is doing just that, see comment above ^^

[2017-01-12 18:36] #43 closed

[2017-01-13 09:02] biancode opened #44 "Is it possible to enhance this package with slave/server"
Is it possible to enhance this package with slave/server, please?

http://www.rtaautomation.com/technologies/modbus-tcpip/

[2017-01-13 09:24] yaacov commented on #44
a. yes :-)
b. what is the use case ?
c here is mock server, is this what you have in mind ?
[code]

[2017-01-13 10:48] biancode commented on #44
a. great!
b. https://github.com/biancode/node-red-contrib-modbus/blob/master/src/modbus-server.js
want to use only modbus-serial in node-red package
c. looks good and also see https://github.com/biancode/node-red-contrib-modbus/blob/master/src/modbus-server.js from line 111

[2017-01-17 19:10] biancode opened #45 "TCP can not handle async parallel unit requests"
I tried to send multiple commands to different unit-id's per cycle via TCP, but it brings errors.
Each unit gets only one command per cycle, but we sent four at the same time.

You can check that with http://www.plcsimulator.org/ it provides multiple units, please.

![image](https://cloud.githubusercontent.com/assets/4369867/22035478/6ae86d48-dcf0-11e6-89ee-8374adda8017.png)

[2017-01-17 20:38] biancode commented on #45
just to handle with multiple tcp connections

[2017-01-17 20:38] #45 closed

[2017-01-22 14:17] biancode opened #46 "Modbus request in response"
A [feature request](https://github.com/biancode/node-red-contrib-modbus/issues/3) needs an enhancement of the response to have data, response and request buffer, please

response {
 request: Buffer with CRC
 data : []
 buffer: Buffer
}

That is a good idea for debugging

[2017-01-25 17:06] yaacov commented on #46
hi,

can you try to take:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/rtubufferedport.js
copy it call it debug port.

then add an emiter for `debug` messages , e.g.
when reciving data [line 72]
`this.emit('debug', this._buffer.slice(start, start + length));`
and when sending data [line 136]
`this.emit('debug', data);`

I am a little busy with other things, so if you will wait fo

[2017-01-29 11:10] yaacov commented on #42
fixed by https://github.com/yaacov/node-modbus-serial/pull/49

[2017-01-29 11:10] #42 closed

[2017-01-29 11:55] yaacov commented on #46
fixed by #50 and #51

[2017-01-29 20:12] yaacov commented on #44
fixed by #52

see example:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/server.js

[2017-01-29 20:12] #44 closed

[2017-01-30 16:12] yaacov commented on #46
@connium @biancode hi,

Looking at the  [debug](https://www.npmjs.com/package/debug) module I only see the options to send to stdout/file.
Can we solve this issue using  [debug](https://www.npmjs.com/package/debug) module or some other standard way ?

[2017-01-30 16:44] biancode commented on #46
I'll try some more next week.

[2017-01-30 16:46] biancode commented on #44
cool - I'll start testing next week

[2017-02-04 16:29] abc-z opened #56 "Error: Cannot find module 'serialport'"
I don't need `ModbusRTU` and I don't install `serialport` from `devDependencies`. When I include `modbus-serial` by `require('modbus-serial')` then my code failed with error `Cannot find module 'serialport'` because `index.js` try to use `rtubufferedport` who needs `serialports`.

Code below can fix that problem (imho it is not elegant way but it works)

// index.js:line 657
[code]

[2017-02-04 19:16] yaacov commented on #56
Thanks!
Sorry you are right, i forgot why i didn't require it before ... , and just added it ...
can you make a pull request i can merge ?

[2017-02-09 15:09] SuperJojo2001 opened #58 "Modbus-serial buffered mode throws exception instead of data"
Hello I am using Modbus-Serial along with "node-red-contrib-modbus" on an embedded intel platform. I must admit that the platform is that fast that it always return serial receive strings in chunks. This is why I am using buffered RTU mode. It works well except the following case:

I am sending a read multiple register command of 64 registers to a modbus RTU slave no with address 1.

Modbus serial

[2017-02-09 15:13] yaacov commented on #58
Great !
a. can you make a pull request ?
b. can you add this case to the tests ?

[2017-02-09 15:17] yaacov commented on #56
fixed by https://github.com/yaacov/node-modbus-serial/pull/57

[2017-02-09 15:17] #56 closed

[2017-02-09 17:31] SuperJojo2001 commented on #58
Hello Yaacov,

before I pull ... and excuse me that I am asking ... I want to understand the current code and what was the initial intention about it in order not destroy your "basic thinking" with my code.

In the buffer examining loop I see the code line
if (unitId !== self._id) continue;
So it loops until it finds the unitid as initial char in the load of the RX buffer ... am I correct that you

[2017-02-09 17:44] SuperJojo2001 commented on #58
Hello Yaacov,

i have another dumb question.

Let us suppose I have a "bad working" Modbus RTU slave online that responds instead of an exception or a valid frame with endless chars like e.g. "aaaaaaaa....." forever and forever ... or frames that are anything else than Modbus RTU frames ... in this case the reception "self._buffer" will grow and grow and finally would generate if you wait long eno

[2017-02-09 17:54] yaacov commented on #58
hi,

a. Yes, we need to deal with modbus frames that start not at the beginning of buffer.
b. Out of memory is something important to fix, maybe in a different pull request ?
c. Make the best you can do, if the tests work, it will be ok, if it start break things that we miss in the test, we will fix it again.

p.s.
Their is always a trade-off between something that we can do and works good, and so

[2017-02-09 20:15] SuperJojo2001 commented on #58
Hi, I finished development but before I am pulling it I want to test it with the test environment

This is why I have extended the rtubufferedport.test.js file locally with my life example above.

But when I start it with "node rtubufferedport.test.js" it runs and exits without any feedback. How do I start this test correctly?

[2017-02-10 04:46] yaacov commented on #58
run (from root of prject)
`npm test`

[2017-02-10 04:52] yaacov commented on #58
p.s.
a. when you do a pull request, tests are run automatically.
b. other people can see what you are doing and comment about it.

[2017-02-10 09:45] yaacov commented on #58
fixed by #60 and #59

[2017-02-10 09:45] #58 closed

[2017-02-19 09:08] biancode commented on #46
for me yes - debug is perfect - but there is no debug output for now - right?  DEBUG=*  or DEBUG=modbus-serial doesn't work

[2017-02-19 09:11] connium commented on #46
You are right, there are no debug outputs in the code yet. Will add them in the upcoming week (I'm missing them sometimes as well :wink: ).

[2017-02-19 09:46] biancode opened #63 "Modbus Serial Device Server"
Hi,

now I've been testing a Modbus Serial Device Server (TCP to Serial NPort) and it has some errors.

a) if there is an internal restart/reset inside NPort (configuration), it raises no error about the lost TCP connection, but it crashes later see:
[code]

b) reading via TCP doesn't work, because of RTU buffered behavior - may it has to implemented in TCP buffered, too. It is possible to encapsu

[2017-02-19 09:50] biancode commented on #63
see this [Modbus Link](http://www.rtaautomation.com/technologies/modbus-tcpip/)

[2017-02-19 09:56] yaacov commented on #46
👍

[2017-02-19 10:01] yaacov commented on #63
Can you try to play with the telnetport to get what you need ?
https://github.com/yaacov/node-modbus-serial/blob/master/ports/telnetport.js

[2017-02-19 13:29] biancode opened #64 "TCP reconnect doesn't work"
Hi,

since v4.6.1 (also 5.1.3) there is no error on lost TCP connection. How can I get that info from modbus-serial? Error is empty in that case. ( err{} )

before it raises the err.code === 'ECONNRESET' -  see with 4.5.1 it works

[2017-02-19 13:39] yaacov commented on #64
can you try to use promise on the command that trigger the error ? [ e.g. `.catch(function(err) { ... } )` ]

[2017-02-19 19:31] biancode commented on #64
I'm using these tow events:

[code]

[2017-02-19 19:38] yaacov commented on #64
we already catch the `node.client._port.on('error' ...` here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L70
maybe the promise `.catch(...` syntex will catch more errors ?

[2017-02-19 20:24] biancode commented on #64
also in catch empty -> modbus-serial {} +1s

[2017-02-19 20:29] yaacov commented on #64
hmm.... i will look into it more carefully ( probably next weekend )

[2017-02-19 20:30] biancode commented on #64
it would be great to have the Why it is not open as before - Connection Error or Reset or ... as TCP sends

[2017-02-19 20:31] biancode commented on #64
err.code I used before

[2017-02-19 20:45] yaacov commented on #64
we can not get an error from the `tcpport` for sending data to a close port because of this:
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L602

but we can change the error code, will setting the error code to <SOMETHING> be ok ?

[2017-02-19 20:50] yaacov commented on #64
You should also get this from a `.catch` on the `connectTCP` see:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/simple.js#L8

[2017-02-19 20:51] biancode commented on #64
.catch works for me this way:  first I got Time out - plugged off the cable on working device - then later I got Port Not Open - net should tell you error 'ECONNRESET'

[2017-02-19 20:54] biancode commented on #64
possible codes - https://gist.github.com/gabrielfalcao/4216897

[2017-02-19 20:56] yaacov commented on #64
who is sending the errors:
the `.catch ` is on the read/write command or the `.catch` on the `connectTCP` ?
the one on the  `connectTCP` should return the correct tcp error ... I will have to look into it ...

[2017-02-19 20:58] biancode commented on #64
.catch on read/write - connection is well done and then I unplug the device

[2017-02-19 21:00] biancode commented on #63
telnet works a bit more - but - modbus-serial CRC error +0ms

[2017-02-19 21:06] yaacov commented on #63
yes, telnet is for transmitting rtu packets over tcp (as if it was a serial line) , it's just a starting point ... if you can fix it to work, and then do a pull request, I can add a new port based on that ( ? tcp_buffered ? )

[2017-02-19 21:08] biancode commented on #46
node-red-contrib-modbus is working with debug npm from version 1.0.6+ and using the name
`DEBUG=modbus-serial `
for modbus info and otherwise with the name
`DEBUG=node_red_contrib_modbus`

[2017-02-19 21:09] biancode commented on #63
I'll give it a try ;)

[2017-02-26 08:32] biancode commented on #63
test cases are done now and some lines of code - for documentation ![image](https://cloud.githubusercontent.com/assets/4369867/23338275/54b5a61e-fc06-11e6-85db-72084a0c9603.png)

[2017-02-26 10:19] biancode commented on #63
new debug option start command:
DEBUG=modbus-serial node-red -v

comming code:
`var modbusSerialDebug = require('debug')('modbus-serial');`

`modbusSerialDebug('expected length of data is to small');`

[2017-03-03 18:03] biancode commented on #63
see first state [pull-Request](https://github.com/yaacov/node-modbus-serial/pull/66)

[2017-03-03 19:53] yaacov opened #67 "Add lintting tests to travis"
Currently we do not test code for style.

[2017-03-03 20:46] biancode commented on #67
I'm using [standard.js](https://www.npmjs.com/package/standard)

[2017-03-03 21:49] #67 closed

[2017-03-04 06:27] #46 closed

[2017-03-04 06:32] yaacov commented on #63
fixed by: https://github.com/yaacov/node-modbus-serial/pull/70

[2017-03-04 06:32] #63 closed

[2017-03-04 12:14] biancode opened #75 "Wiki instead README"
We should clean up the README with most important information and refer to the Wiki for more details and examples.

[2017-03-04 12:17] yaacov commented on #75
👍

first stage copy the readme to the wiki ?

[2017-03-04 12:20] yaacov commented on #75
I copied the readme to the wiki ... feel free to do whatever you think helpful,
I have no idea what to do next :-)

[2017-03-04 14:47] biancode commented on #75
done for me with your work and my [Pull request](https://github.com/yaacov/node-modbus-serial/pull/76)

[2017-03-04 14:51] #75 closed

[2017-03-05 19:04] biancode commented on #64
OK, now I got it to work very well.

`if(err.errno)`

then I can check the strings - errno is filled up in err object if we have a tcp error

`var networkErrors = ['ESOCKETTIMEDOUT', 'ETIMEDOUT', 'ECONNRESET', 'ECONNREFUSED'];`

[2017-03-05 19:04] #64 closed

[2017-03-05 19:10] yaacov commented on #64
Can you give more info ... how to get this error ? where to put the `err.errno` check ? what port do you use ... ? do yo you know what fixed the problem ? ...

[2017-03-05 19:19] biancode commented on #64
There is no real fix - just more information in debugging - I just checked for ECONNRESET and the special case was ETIMEDOUT, if it doesn't reconnect
if the error comes from the TCP Socket, then I got the errno in error object - see new pull request examples - it was all fine with the promises and the use of .catch

[2017-03-05 19:20] yaacov commented on #64
👍 Nice :-)

[2017-03-05 19:25] biancode opened #80 "New NPM version"
Do you know when you are ready to deploy a new NPM package, please?

[2017-03-05 19:26] yaacov commented on #80
once you fix line 357 in https://github.com/yaacov/node-modbus-serial/pull/79 :-)

[2017-03-05 19:40] biancode commented on #80
WebStorm 2016.3 is sometimes a bit strange in editor.

[2017-03-05 20:17] biancode commented on #80
perfect - thank you very much

[2017-03-05 20:17] #80 closed

[2017-03-05 20:25] yaacov opened #83 "We need better doc strings"
We have a gulp document maker but we need better doc strings

cc @biancode

[2017-03-06 08:45] inpras commented on #45
"just to handle with multiple tcp connections"
What does this mean? does this mean we need to create multiple clients?
on OSX the following code consistently fails, What am I missing?

client.setID(1);
    client.readInputRegisters(5, 2, function(err, data) {
        if (err){
            console.log(err);
        } else {
            console.log(data);
            var int32 = data.buffer.readFloa

[2017-03-06 08:51] yaacov commented on #45
do you mean `var float64 = data.buffer.readFloatBE();`

also you need to read 4 registers per float `... client.readInputRegisters(6, 4).then( ...`

see:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/buffer.js

[2017-03-08 07:29] yaacov commented on #45
@inpras did you find what was the problem ? if it still doesn't work we will need to open an issue for that.

[2017-03-15 22:08] brandly opened #88 "`serialport` listed in devDependencies"
[here's a direct link.](https://github.com/yaacov/node-modbus-serial/blob/52390e87d7b9ee5cb354abafb48acff62f5b7bc1/package.json#L37)

since it's not in the `dependencies` list, when i `npm install modbus-serial`, `serialport` doesn't get installed, leaving this package in a broken state.

### solution

move `serialport` into `dependencies`

thanks!! 🌟

[2017-03-16 04:59] #88 closed

[2017-03-27 15:21] mstephenhunt opened #91 "readCoils() only reading 8 bits"
Hey-- I think there may be an issue with the `readCoils()` method.

Running this code below, I'm always getting the same length of coils read no matter if I change the passed `count`:
[code]
`---> asked/received length:  1 / 8 [ false, false, false, false, false, false, false, false ]`
`---> asked/received length:  2 / 8 [ false, false, false, false, false, false, false, false ]`
`---> asked/recei

[2017-03-27 16:24] yaacov commented on #91
Thanks 👍

`received.data.length` should be: `ceil(length / 8) * 8` so:

We take the 3rd byte [1] , this byte is the number of bytes in answer [2] and we take each bit as a boolean answer in an array, we do not stop when we reach `count` we do a full 8 bits loop [3].

I do not have a machine that answers readCoil available here:
a. Can you check what is the bug the return only 1 byte (8 bits) for `

[2017-03-28 09:50] mstephenhunt commented on #91
Sure thing!

I don't have our modbus machine right now, but I will tomorrow. I'll send over the results to you then. I'll see what I can do about a PR. Thanks for the confirmation!

[2017-03-28 10:23] yaacov commented on #91
np, thanks for the issue :-)

[2017-03-29 20:27] joshuatreenl opened #92 "No reconnection client after disabling Modbus Server"
Hi,

Last week I post a message in the Node Red section of modbus. It seems that this issue is a problem in the node-modbus-serial. I have the following setup: One S7-1200 PLC and an IOT2000 device. On the IOT "Node Red" is installed and the node-red-modbus module. If I setup in the software a ModbusRead (function 3 read; read holding registers) then it seems to be working OK. Even if i disconnect

[2017-03-29 20:38] yaacov commented on #92
Sounds great 👍

I hope to have time this weekend, but can't promise :-)
Can you make a pull request that when finds a "Port not open" error [1],  tries to reconnect [2][3] ( for N times before giving up, or forever ? )

[1] https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L588
[2] https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L317
[3] https://github.com/yaacov/

[2017-03-29 20:54] yaacov commented on #92
p.s.
The reconnect can also be handled by the client when catching the "port not open" error, so maybe we can add an `errno` to the "port not open" error, to make it easier to catch ?

@biancode WDYT ?

[2017-03-29 21:15] biancode commented on #92
@yaacov that would be great to decide very clear what kind of problem we have on port not open

`'ECONNRESET', 'ENETRESET',
  'ECONNABORTED', 'ECONNREFUSED', 'ENETUNREACH', 'ENOTCONN',
  'ESHUTDOWN', 'EHOSTDOWN', 'ENETDOWN', 'EWOULDBLOCK', 'EAGAIN'`

Posix socket should tell what is the problem in an ERRNO

[2017-03-30 04:44] yaacov commented on #92
@biancode @joshuatreenl it looks like the "close" signal can be called without an error [1] , can you try to see if this is the case here ? ( by adding a debug line [2] there )

[1] https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L69
[2] `modbusSerialDebug("port closed " + had_error); `

[2017-03-30 06:45] yaacov commented on #92
@biancode @joshuatreenl just added debugs [1] for the "error" and "close" signals in the tcp port, can you check with debug on [2][3] what happen when you turn off the controller ?

[1] https://github.com/yaacov/node-modbus-serial/commit/dbc6b781540766b3659d36890d8ae119fe50c91f
[2] https://github.com/visionmedia/debug
[3] in a unix shell, run `export DEBUG=modbus-serial` before running the logger.

[2017-03-30 18:33] connium commented on #92
Hi guys,

I just want to give you a something to think about:
We at @meteocontrol use this library in a commercial product. This means we have to consider all kind of exceptions and handle them individually. So we check for disconnected errors, try to reconnect, do some error handling (depending on what went wrong and whether this kind of error occurred before) and so on.

If the modbus library, t

[2017-03-30 18:45] yaacov commented on #92
@biancode @connium I agree 👍
I do not understand how we ended up with a close port without some error being emitted ? @joshuatreenl can you use the code with the extra debug (in master) and run the logger.js example with debug on, we may understand why no error was sent, and solve this in a more precise way ?

[2017-03-30 22:27] joshuatreenl commented on #92
Sorry for the late answer. First of all thanks to the many usefull contributions by anyone. Let me explain the situation first.

I have:
S7-1200 type PLC and a IOT2040.
On the S7-1200 I installed the Modbus TCP server, library from Siemens. I am able to disconnect the client in an odd manner.
On the IOT2040 I installed Node Red with the packages S7 and Modbus (biancode). The S7 works fine but I wo

[2017-03-31 06:03] yaacov commented on #92
@joshuatreenl v5.2.4 is on npm
to install `npm install modbus-serial`
to run with debug on: https://github.com/visionmedia/debug

[2017-03-31 06:05] biancode commented on #92
@joshuatreenl node-red-contrib-modbus@1.0.9-theta now uses 5.2.4 of modbus-serial

[2017-03-31 07:31] joshuatreenl commented on #92
Ok fresh install of modbus-serial

FIRST ATTEMPT:

root@iot2000:/usr/lib/node_modules/modbus-serial/examples# DEBUG=modbus-serial node logger.js
  modbus-serial TCP port: signal connect +0ms
  modbus-serial { action: 'send tcp port',
  modbus-serial   data: <Buffer 01 03 00 05 00 04 54 08>,
  modbus-serial   buffer: <Buffer 00 00 00 00 00 06 01 03 00 05 00 04> } +318ms
  modbus-serial {"action":"s

[2017-03-31 09:10] joshuatreenl commented on #92
Mentioned already in issue #93. we should close this issue. I am pretty sure that I have to build some error handling and reconnection within the Node Red application I have to develop. The driver is not the issue, how to follow up on errors is the issue. Sorry for everybody times to spent on this issue.

[2017-03-31 09:58] yaacov commented on #92
@joshuatreenl #93 is a patch that may or may not fix this bug, if it does fix this, then we will merge it make a new version and close this issue ( and be very happy 🍰 ).

[2017-03-31 10:02] yaacov commented on #92
[code]

Than we have an error with errno ECONNRESET !! great

[2017-03-31 15:00] yaacov commented on #92
[code]

Closing

[2017-03-31 15:11] yaacov commented on #92
OK reopen :-)

[2017-03-31 19:40] yaacov commented on #92
@biancode @joshuatreenl
I just released v5.2.6, it fixes a bug that allow trying to write to a closed port, this bug occurred in v5.2.4 that i released earlier today for @joshuatreenl testing.

I think that it was also the version that started the odd behaviour of exiting the logger.js example when port is closed. if old nodejs versions could not handle writing to close port, it would explain this

[2017-03-31 19:41] yaacov commented on #92
link to current master:
https://github.com/yaacov/node-modbus-serial/archive/master.zip

[2017-03-31 20:35] yaacov commented on #92
looks like the problem was an old version of node, with node version ^6.9.0 it works.

closing.

[2017-03-31 20:35] #92 closed

[2017-04-01 07:11] dedhdude opened #95 "Getting Crc Error in RTU"
Ascii is working completely fine but RTU is not working .
When I tried to communicate with two different device  in one im getting CRC error & in other im getting values but that also not true.
![1](https://cloud.githubusercontent.com/assets/22762075/24576324/9bc31046-16d7-11e7-8e39-1988087ee2e7.jpg)

My Code

var ModbusRTU = require("modbus-serial");
var client = new ModbusRTU();

// open connect

[2017-04-01 07:12] dedhdude commented on #95
Even Tried RTUBuffer

[2017-04-01 07:17] yaacov commented on #95
Try the `connectRTUBuffered`

[code]
will become:
[code]

[2017-04-01 07:30] yaacov commented on #95
can you check using the pymodbus:

a. install ( if you have python and pip )
[code]
b. run python
[code]

[2017-04-01 16:16] yaacov commented on #91
Checked v5.2.6 TCP and RTU, `readCoils()` return an answer with correct number of elements:
if N is the requested length answer will be of length  `ceil(N / 8) * 8`

Closed, fixed in current version

[2017-04-01 16:16] #91 closed

[2017-04-01 16:25] yaacov commented on #95
Checked against ArduinoESP running TCP and RTU modbus, no crc errors.

Arduino code:
https://github.com/yaacov/ArduinoModbusESP

Test used as client:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/simple.js

Fixed in v5.2.6 , closing.

[2017-04-01 16:25] #95 closed

[2017-04-07 15:24] sujeethk opened #96 "Unable to close TCP connection"
`client.close();` for a TCP connection does not close the connection. The socket stays open on the slave and master. Is there a different method to close TCP connection?

[2017-04-07 16:27] yaacov commented on #96
Hi, currently the `client.close()` [1] method, only calls  `socket.end()` [2]

I do not want to change that behaviour, but we can add a `destroy` call if necessary, @connium WDYT ?

@sujeethk a workaround that may solve your problem:
calling `.destroy()` [3] directly on the tcp socket:
`client._client.destroy();`

[1] https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L97
[2

[2017-04-08 10:46] connium commented on #96
IMO the current behavior of `client.close()` is fine (see the link @yaacov referred as [3]).

If there is need for `socket.destroy()` I would place it in a separate method as @yaacov proposed. Users of this library should not be forced to use internal stuff (`client._client` should never be used outside the library).

[2017-04-08 11:06] yaacov commented on #96
Hi all, If the workaround described in https://github.com/yaacov/node-modbus-serial/issues/96#issuecomment-292584257 works, I will add a `.destory` function to the client as @connium suggested.

But we need to know that this was the problem, and that calling `client._client.destroy();` fixes it. @sujeethk can you try it, and comment here if this solve/not solve the problem ?

[2017-04-15 15:42] yaacov commented on #96
@sujeethk ping ^^

[2017-04-15 16:56] sujeethk commented on #96
Apologies for not getting back earlier. When I log `client._client` it does not have a destroy method.

And I assume there is a wait timeout for the socket to close before being destroyed which is why the socket doesn't close immediately after calling close.

[2017-04-15 17:04] yaacov commented on #96
a. np :-)
b. `client._client` should be a socket ( it has a `destroy` method )
  1. can you write here the relevant code you are using ?
  2. where/when socket is still connected,
  3. where/when you see that `client._client` is not a socket anymore ( does not have a `destroy` method )

[2017-04-19 19:39] joshuatreenl commented on #92
Hello @biancode and @yaacov,
Today image v2.1.3 is released with node version 6.9.2. Although I've tested it for a short time:
ModbusRead is working OK with disconnect/connecting on the S7-PLC (E-CONNRESET).
The problem with alloc buffer in ModbusServer is also solved.

Thanks!

[2017-04-19 19:42] yaacov commented on #92
@joshuatreenl Thanks for the update !

[2017-04-19 19:46] yaacov commented on #96
@sujeethk I didn't understand, is this working now ? do we need to close this issue ( it is solve already ) , or we need to fix it , how ?

[2017-04-19 20:08] sujeethk commented on #96
I think we can close this issue since it is working as designed. When we call close on the socket, it flags it for closing but waits until the default timeout to make sure there are no pending transmission from the other client. Once the timeout is done it closes the socket.

[2017-04-19 20:10] yaacov commented on #96
Thanks 👍

closing

[2017-04-19 20:10] #96 closed

[2017-04-25 12:59] inpras opened #97 "Wrte Only - Broad cast"
Is there any way to configure RTU Buffered to have write only request (as in broadcast request)?

[2017-04-25 14:36] yaacov commented on #97
What happen when you try, it should just work ?

[2017-04-25 17:34] inpras commented on #97
This is the code I have

[code]

the call for writeRegister stays there forever, never comes out! I think it is expecting reply from slave device and for broadcast messages, we don't get reply!

[2017-04-25 17:40] yaacov commented on #97
what happen when you do not try to catch the error ?
e.g. `client.writeRegister(currentParameter.mbAddress, currentParameter.value)`

[2017-04-25 17:47] inpras commented on #97
No change with that also. There is a promise that keeps waiting if the callback is not supplied.

[2017-04-25 17:50] yaacov commented on #97
Yes, but a promise does not block, you can continue to use the port for other requests and ignore the waiting promise.

[2017-04-25 17:51] inpras commented on #97
OK, let me give a try to see what I was missing earlier, thank you for your response. Will get back to you with my results.

[2017-04-25 17:53] yaacov commented on #97
p.s.
low level commands, can be called without a callback, e.g.
`client.writeFC6(currentParameter.mbAddress, currentParameter.value)`

[2017-04-25 17:55] inpras commented on #97
yes, that makes more informed of me. Thank you

[2017-04-25 17:57] yaacov commented on #97
np :-)

If this works, you can close the issue, if not, comment here.

[2017-04-26 06:06] biancode opened #98 ""Type error: Cannot read property '_timeouthandle' of undefined.""
[node-red-contrib-modbus issue](https://github.com/biancode/node-red-contrib-modbus/issues/18) reported by @matthiaswinkeler

[2017-04-26 07:07] yaacov commented on #98
@biancode hi, just added a check for  `Type error: Cannot read property '_timeouthandle' of undefined.`

Can you check it from git ?
I do not want to release a new version just for that, if this does not solve the issue :-)

[2017-04-26 07:18] matthiaswinkeler commented on #98
Hi biancode & yaacov

Can I help you guys with more information?

Thanks for your help!

[2017-04-26 07:33] yaacov commented on #98
@matthiaswinkeler thanks,
The test we need is to use the current git code (with the fix) in `node-red-contrib`, and see if this fix the problem.

@biancode can you help @matthiaswinkeler to make a node-red module that use the git code instead of the current version (npm) ?

[2017-04-26 09:02] matthiaswinkeler commented on #98
Ok let me do some research :)

[2017-04-26 09:07] yaacov commented on #98
👍 I do not know the node-red modulae, but if you have questions, just ask ... :-)

[2017-04-26 09:36] matthiaswinkeler commented on #98
i tried "sudo npm intstall https://github.com/yaacov/node-mobdus-serial.git"

But the problem persists, I do think I didnt install the update correctly :)

[2017-04-26 09:42] yaacov commented on #98
@matthiaswinkeler their is no update ... it is just in the git.

I will make a new version , and then @biancode will make a vew version ... and then you could simply check ...

I am working on a release, wait ...

[2017-04-26 09:48] yaacov commented on #98
ok, new version 5.2.7

@biancode @matthiaswinkeler  you can now make the node-red module using the new version from npm.

https://www.npmjs.com/package/modbus-serial

[2017-04-26 15:26] biancode commented on #98
@yaacov _port.on("data", function(data) should be left if there is no transaction, because it makes nothing without a transaction, right?

[2017-04-26 15:33] biancode commented on #98
Maybe there is a bigger "problem" - why can I have on data events without a transactionId on reading? It will be set on request.

[2017-04-26 15:42] yaacov commented on #98
Yes 👍  i will fix that, thanks.

`_transactionId` is something port get from outside, theoretically the controller can give us **any** number here [1] , so we must protect `_transactionId` as a rule.

[1] https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L55

[2017-04-26 15:49] yaacov commented on #98
p.s.
@matthiaswinkeler did you test with the new version ? did it solve the initial problem ?

[2017-04-26 16:37] matthiaswinkeler commented on #98
Hi,

I tested the new updates, with my old flow code

but the error persisted. I deleted all flows (emptied them out) and connection nodes (all my slaves) but still the error was there

It always restarts around 60 second after server is running message. So actually the first 30 polls run fine.

[2017-04-26 16:57] biancode commented on #98
Yes, it doesn't work, if there is no transaction (of undefined means the object transaction).

[2017-04-26 17:00] biancode commented on #98
@matthiaswinkeler can you check if the problem is also in

`npm install node-red-contrib-modbus@1.0.8`

[2017-04-26 18:19] matthiaswinkeler commented on #98
Hi,

Thanks again for helping out. I will be back with an answer on this tomorrow morning.

[2017-04-26 18:31] matthiaswinkeler commented on #98
@biancode

after installin 1.0.8 and importing the flow code I deployed and so far everything works great! I will let it run overnight and check the log in the morning .

But it looks promising, thanks so much for the effort!!

[2017-04-27 04:46] yaacov commented on #98
@biancode ahhh... did you fix the `_port.on("data", function(data)` thing ? or does it work now because of a different change ?

[2017-04-27 04:56] yaacov commented on #98
@biancode 👍 Thanks, fixed in 5.2.8 ( in npm )

[2017-04-27 05:04] yaacov commented on #98
p.s. @biancode @matthiaswinkeler we also have a limit of 64 on the number of concurrent transactions [1] this also may be too low for some use cases

[1] https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L12

[2017-04-27 05:10] yaacov commented on #98
v5.2.9 is out :-) , it has a limit of 256 transactions.

[2017-04-27 06:04] biancode commented on #98
OK I'll Do the update and tests today

[2017-04-27 19:31] inpras commented on #97
Thank you this would fit my need. I am closing this now.

[2017-04-27 19:31] #97 closed

[2017-04-28 11:41] matthiaswinkeler commented on #98
Hi,

I get the error aigain. under contrib-modbus 1.08 and the newest modbus-serial.
Here are a few screenshots:

![afbeelding](https://cloud.githubusercontent.com/assets/26953470/25527176/d85d528c-2c17-11e7-930b-032a795226bc.png)

![afbeelding](https://cloud.githubusercontent.com/assets/26953470/25527182/e7a1b242-2c17-11e7-8f50-837de554d738.png)

Do I have the wrong version installed?

My node re

[2017-04-28 11:51] yaacov commented on #98
@matthiaswinkeler @biancode I think the version with the fix [1] is 1.0.11

[1] https://github.com/biancode/node-red-contrib-modbus/blob/master/package.json#L3

[2017-04-28 11:59] biancode commented on #98
/.npm-global/lib
└── node-red-contrib-modbus@1.0.11

[2017-04-28 12:23] biancode commented on #98
@matthiaswinkeler here a little optimised version of your last flow:

[{"id":"cda5d12.d2b7c3","type":"tab","label":"Flow 1"},{"id":"92fb9292.d61aa","type":"modbus-flex-getter","z":"cda5d12.d2b7c3","name":"HN","showStatusActivities":false,"showErrors":false,"server":"33e9c7c.6896438","x":650,"y":60,"wires":[[],[]]},{"id":"95a83eee.9a2e3","type":"function","z":"cda5d12.d2b7c3","name":"Status - reque

[2017-04-28 12:25] biancode commented on #98
![image](https://cloud.githubusercontent.com/assets/4369867/25528525/90fd424c-2c1e-11e7-8f38-a7ae63ada238.png)

[2017-04-28 12:31] matthiaswinkeler commented on #98
@biancode

Looks nice!! Thanks I am going to run it right away ;)
I installed the 1.0.8 before because in a previous post this was recommended.

I will in stall you new version and run the above code ;)

Cheerss!

[2017-04-28 13:05] biancode commented on #98
[Video for you](https://www.youtube.com/watch?v=G4p-Af1olo8)

[2017-05-02 18:37] yaacov commented on #98
@biancode @matthiaswinkeler Hi, do we need to investigate more, or is this solved in 1.0.11 ?

[2017-05-02 20:18] matthiaswinkeler commented on #98
Hi,  thanks for your help on this.

The issue is resolved now!

[2017-05-02 20:19] #98 closed

[2017-05-06 09:44] biancode opened #101 "Does ASCII work?"
Hi,

maybe we can build some unit tests from http://www.modbustools.com/modbus.html
I tried, but it doesn't work very well.

Have a nice weekend!

[2017-05-06 15:12] yaacov commented on #101
👍 done

https://github.com/yaacov/node-modbus-serial/pull/102

[2017-05-06 15:12] #101 closed

[2017-05-11 10:17] HanSunyi opened #104 "Which method should I use to response Master？"
Master send "03 03 00 00 00 06 C4 2A" to my "js slaver" per 500ms .

But which method should I use to response the master?

I know i should response the data from "0000" ,  length = 6   which response code is :
[code]

but how to send this message to master?

[code]

[2017-05-11 10:26] yaacov commented on #104
Can you give a code example ?

[2017-05-11 11:17] HanSunyi commented on #104
@yaacov I find a variable named client._port._buffer
                when I am in debug mode,I can see my data exits in  client._port._buffer
                Should I directlly use client._port._buffer to control my code as below?
                     something like
[code]

               Help me out please!

[2017-05-11 11:49] yaacov commented on #104
@HanSunyi hi, thanks

a. We currently only have tcp server [1][2] - a **server waits for MoabusTCP requests**, and responds to them.

b. We do not have a server for ModbusRTU :-(

c. You are using the client part of the library [3], this is the part that calls a server ( e.g. a controller ) , a **client send a request, and then waits for an answer**, see examples [4].

p.s
If you want to, you are

[2017-05-12 01:48] HanSunyi commented on #104
@yaacov
Thank you for your help and your patience.   : )
I just started using js,I still need to learn a lot of things.

[2017-05-12 03:56] yaacov commented on #104
np :-)

[2017-05-16 17:38] philesgilles opened #107 "Modbus-RTU via GPIO RPi3"
Good day, I'm trying to connect Modbus Via GPIO ttyAMA0.
When I check with an oscilloscope the RX pin, the message return well. So I've made a few research and it seems that there is a glitch so we receive a <0> front of the message.

I don’t know if you can change something in your code for fixing that?

=> https://github.com/stephane/libmodbus/issues/302

I don’t know how to test it… But seems b

[2017-05-16 18:22] yaacov commented on #107
hi, thanks 👍

a. can you write a test program that fails because of this ?
b. can you write a pull request that fix this, so the test program will not fail ?

[2017-05-16 19:51] philesgilles commented on #107
a) I have a test program that fails (I think) because of this.
I have the right response from the Modbus devices reading with an oscilloscope on the RX pin but there is a little glitch. I think it's the cause and it creates a <00> in front.
Using a USB to RS485, it works great. As soon I switch to ttyAMA0, I can't receive anything.

b) no... I don't know how to do that.

[2017-05-16 20:00] yaacov commented on #107
I do not fully understand what is the problem ...

a. the extra byte comes from the master ( computer running nodejs )
for example a request looks like that
`00 11 01 0013 0025 0E84`
instead of that
`11 01 0013 0025 0E84`

or

b. the extra byte comes from the slave ( controller )
for example a response looks like that
`00 11 01 05 CD6BB20E1B 45E6`
instead of that
`11 01 05 CD6BB20E1B 45E6`

?

[2017-05-16 20:09] philesgilles commented on #107
it's in the response. it adds a 00 in front of it. (b)

[2017-05-16 20:12] yaacov commented on #107
Ahh..
We have the buffered rtu for this :-)

[code]

[2017-05-17 06:13] yaacov commented on #107
@philesgilles did the `RTUBuffered` helped ?

[2017-05-17 06:37] philesgilles commented on #107
no, with the RTU i had a CRC error code and RTU-buffered i have a "empty" then timeout

[2017-05-17 07:04] yaacov commented on #107
**Using a USB to RS485**
a. you have an rs485 connection ( two wires ) on the controller, and a `rs485 to usb` module [1] on the computer, did I understand correctly ?
b. this works ?

`switch to ttyAMA0`
a. does your controller has a ttl out legs ?
b. is it the same voltage 3.3 / 5v ?
c. is the clock/boud sync ?
[1] http://www.ebay.co.uk/bhp/usb-to-rs485-converter

[2017-05-17 07:18] philesgilles commented on #107
Hi !

With a USB to RS485 (2wires) no problem. I was making all the tests with that one.

I bought a stratopi board (this one: https://www.sferalabs.cc/product/strato-pi-ups-board/)
When i request a register on a modbus client i have the TX and RX leds working. I checked with oscilloscope on the RX to see the reply and it seems totally ok. (If I write it's working.) it's just that there is a probl

[2017-05-17 07:30] philesgilles commented on #107
I think it's the exact same problem as here: https://github.com/stephane/libmodbus/issues/302

**With USB to RS485**
pi@raspberrypi ~/SW-QT5/ModbusProjekt/ModbusProjekt/libmodbus-master/rpi-test $ sudo ./test
sec_to=0 usec_to=500000
Rpi RTU enabled.
BCM Pin set as 18.
RPI pin exported and pin direction configured successfully.
Opening /dev/ttyUSB0 at 9600 bauds (N, 8, 1)
[01][04][00][00][00][01][3

[2017-05-17 07:49] yaacov commented on #107
a. their are lots of things that can fail on ttl communication [ boud, voltage, direction ... ] you need to be very careful when connecting two hardware devices using ttl, did you try just to send "hello world" message between your two devices ?

b. who is the master (the computer running nodejs) - the raspberry pi (strato pi) , a laptop ?
c. who is the client (controller) - commercial controller,

[2017-05-17 09:29] philesgilles commented on #107
pi is master, connected via the stratopi RS485 port to a countis counter and a arduino for testing write functions. The code up is not mine it's from the topic linked.

I'll try to make a fresh install and see if something i did before is the problem.

[2017-05-17 10:40] yaacov commented on #107
a. As best practice you should not connect raspberry pi to an arduino using ttl ...
a. raspberry is 3.3v and arduino is 5v
b. ttl is sensitive to interaptions
c. you may fry you device, if you coincidently connect it wrong :-)

b. You can write a small program in your arduino that send data, listen to it on your pi (write some code that open port and listen), and see if you get that extra 0x00 ...

[2017-05-17 16:43] #104 closed

[2017-05-26 17:20] yaacov commented on #107
@philesgilles any news ?

[2017-06-02 12:54] rohitkumar5293 opened #110 "MODBUS RTU"
Hi,
 i want to implement loopback test for HEXIN RS232 - RS485 converter via MODBUS. I am newbie to modbus implementation and i read you repository for modbus serial communication. My requirement is to do callback test rs232 to raspberry pi via modbus just simple read and write. Simply send some message to port ttylS0 and get same packet. Please advise me how can i implement this. Also unable to c

[2017-06-02 14:12] yaacov commented on #110
Do you have a controller listening on rs485/232 ?
Does it allow write to coils / registers ?

https://github.com/yaacov/node-modbus-serial/blob/master/examples/debug.js

Change the port to `connectRTU` `ttyS0` and the `require` to  `require("modbus-serial");`

What do you mean ? please attach versions, code sample, error messages, debug output ...

[2017-06-02 19:09] #107 closed

[2017-06-02 19:10] yaacov commented on #107
@philesgilles closing, if you have new info, just post it here ( we can re-open if needed )

[2017-06-04 11:03] biancode opened #112 "auto changelog on new versions"
Hi,

I'll try that [changelog](https://www.npmjs.com/package/standard-version) for the Node-RED package - maybe it is interesting for you too.

[2017-06-04 11:05] yaacov commented on #112
👍 thanks, will look into it

[2017-06-06 10:17] vshymanskyy opened #113 "Plans to support Report Slave ID (FC17) ?"
Thanks for a great library.
Are there any plans to support Report Slave ID (FC17) ?
I think I will try implementing it in a local copy and then make a PR - but i may need your help if I run into some issues.
Also, some hardware implements completely custom FCs - is there any way to handle them without modbus-serial modifications?

[2017-06-06 11:05] yaacov commented on #113
If you implement it :-)

Sounds cool to make some way to register new / cusrom FC 👍 , maybe convert current regular FC to use this new ? `register_FC` ? architecture ?

[2017-06-08 11:36] tekjanson opened #114 ".writeFC6(undefined, 100, 1) writing to all addresses"
So while using this I accidentally wrote to an undefined address and that caused everything on my network to receive that write. I checked with the below code and it happened again, I was wondering if this is supposed to be a feature of the library? it seems really dangerous, I looked and saw no documentation about this.

// create an empty modbus client
var ModbusRTU = require("modbus-serial");
v

[2017-06-08 11:46] yaacov commented on #114
Nice, thanks !

We should protect the buffer [write functions](https://nodejs.org/api/buffer.html#buffer_buf_writeuint8_value_offset_noassert) before using them, for example here [FC6](https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L533) we should check if values are valid `int8` and `uint16` before continue to send them to the device.

Can you make a pull request that add this

[2017-06-08 11:51] tekjanson commented on #114
I am really new to using node nor has I ever done that so I am not entirely sure how to do that actually

[2017-06-08 12:12] yaacov commented on #114
Before using the `address` variable we need to sanity check it ...
Something like this:

[code]

[2017-06-08 13:10] naveen26246 opened #115 "PortNotOpenError"
Hi,
I am trying to connect an energy meter(modbus) to my ubuntu 16.04 machine. However, when I run the following node app, I run into the error mentioned.

**Error:
PortNotOpenError {
  name: 'PortNotOpenError',
  message: 'Port Not Open',
  errno: 'ECONNREFUSED'}**

My code:
// create an empty modbus client
var ModbusRTU = require("modbus-serial");
var client = new ModbusRTU();

// open connectio

[2017-06-08 13:41] yaacov commented on #115
are you sure you have r/w rights to use `/dev/ttyUSB0` on your machine ?

[2017-06-08 17:14] naveen26246 commented on #115
Yes I have added myself to the dialout group, rebooted and tried again. No change in the error.

[2017-06-08 17:22] yaacov commented on #115
Ahh....

try:
[code]

[2017-06-08 17:48] naveen26246 commented on #115
Hi,

I tried the above code as suggested. There is no error. However, the data is not being printed.

[2017-06-08 18:25] yaacov commented on #115
Great 👍

a. Are you shore baudrate, databits ...  are correct ?
b. Are you shore the device answer to this address ?

You can print the data:
`console.log(data);`
instead of:
`console.log(data.data);`

You can run in debug mode:
[code]

[2017-06-09 05:08] yaacov commented on #115
p.s. 0136 is octal for 94 decimal not 136 decimal ...

[2017-06-09 06:54] naveen26246 commented on #115
Am i supposed to use the octal value in the readHoldingRegisters function ?

[2017-06-09 07:36] yaacov commented on #115
in your code https://github.com/yaacov/node-modbus-serial/issues/115#issue-234522114 you write to address 94 ( 0136 ), in the code example I wrote here https://github.com/yaacov/node-modbus-serial/issues/115#issuecomment-307170804 we write to address 136 .

Assuming your device documentation say it answer to address 94 ( 0136 ), it may not answer to address 136 ...

[2017-06-10 16:47] yaacov commented on #110
@rohitkumar5293 any new information ?

[2017-06-10 16:48] #112 closed

[2017-06-10 16:49] yaacov commented on #115
@naveen26246 any new information ?

[2017-06-10 18:48] naveen26246 commented on #115
@yaacov .. i might be having issues on the device end ... trying to get that fixed first. Will get back to you if I solve the issue ..

[2017-06-10 20:35] naveen26246 commented on #115
@yaacov ... the issue was on the device.  Thanks for the support.

[2017-06-10 20:37] yaacov commented on #115
:-)

[2017-06-12 18:11] checor opened #116 "Multiple errors when running modified Modbus server example"
Hello,
I'm trying this library. I choose it because seems easier to use and it's pure js, compared to another libraries. Congrats on your work!

However, I feel I'm missing something too obvious since almost every time something someone connects and ask for data, the programs crashes.

I added some parameters that changes over time to the modbus server example, in order to simulate a PLC.

I uploa

[2017-06-12 18:49] xalepo4 opened #117 "connectTcpRTUBuffered always timeout"
Hello,
I'm working with this library but when I use the server.js and then buffertcp.js it always give me timeout.
If I replace connectTcpRTUBuffered for connectTCP it works well, but I need the other function.
Any assistance would be greatly appreciated.

[2017-06-12 18:52] xalepo4 commented on #116
Hi, I'm using a server to simulate a modbus component and ECONNRESET happen sometimes. I don't know why, if someone can help. Thanks

[2017-06-12 19:34] yaacov commented on #116
@checor hi, thanks for the issue, I will look into it this weekend.

p.s.
Your snippet look ok, so it's probably something with the lib. You can run the programs ( simulator and reader ) with debug, maybe you will see something you do not see now:

[code]

[2017-06-12 19:37] yaacov commented on #117
@xalepo4 hi, thanks for the issue, I will look into it this weekend.

If you can post example code that reproduce this, it will be easier to find the problem.

[2017-06-12 19:37] #110 closed

[2017-06-12 19:37] #83 closed

[2017-06-12 19:56] checor commented on #116
@yaacov Thanks for the fast reply! I will run the snippet with debugging enabled.
If I find anything, I will post the results.

[2017-06-13 11:11] xalepo4 commented on #117
This is the server I'm running:

`/* eslint-disable no-console, no-unused-vars, spaced-comment */

// create an empty modbus client
//var ModbusRTU = require("modbus-serial");
var ModbusRTU = require("../index");
var vector = {
    getInputRegister: function(addr) { return addr; },
    getHoldingRegister: function(addr) { return addr + 8000; },
    getCoil: function(addr) { return (addr % 2) === 0

[2017-06-13 11:13] xalepo4 commented on #117
This is the server I'm running:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/server.js
And this is the client:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/buffertcp.js

[2017-06-13 11:47] yaacov commented on #117
Hi, this tests run fine on my machine, do I miss something:

![node](https://user-images.githubusercontent.com/2181522/27081018-3b0a39ec-5047-11e7-9d81-1fe357502e5d.png)

[2017-06-13 13:00] xalepo4 commented on #117
I've try it again and this is the result:
Client.js
![captura de pantalla 2017-06-13 a las 14 58 55](https://user-images.githubusercontent.com/11753212/27083456-e3873ab0-5048-11e7-9a69-d945b115c0f6.png)
Server.js
![captura de pantalla 2017-06-13 a las 14 58 49](https://user-images.githubusercontent.com/11753212/27083467-f140452a-5048-11e7-9fca-1e1407beeab5.png)
And this is the output:
Client.js
![

[2017-06-13 13:07] yaacov commented on #117
can you check the version you use ?

`npm view modbus-serial version`

[2017-06-13 13:08] xalepo4 commented on #117
Version 5.3.1

[2017-06-13 13:15] yaacov commented on #117
can you try ?

`npm install modbus-serial@5.2.9`

[2017-06-13 13:19] xalepo4 commented on #117
It works!!

[2017-06-13 13:22] yaacov commented on #117
Thanks for the Issue !
I will try to see what is wrong with the new version this weekend.

not closing this issue, until it is fixed in the new version.

p.s.
@checor we may have a bug in newer versions, can you try v5.2.9 ?

[2017-06-14 10:38] vshymanskyy opened #118 "Shouldn't serialport be an optional dependency?"
Also, Modbus RTU may be transported over virtually any streaming connection, like sockets or bluetooth (BLE) ,etc.

[2017-06-14 10:58] yaacov commented on #118
Yes, it was :-)

But we wanted to make it easy for users to just have one requirement,
See: https://github.com/yaacov/node-modbus-serial/issues/56

I'm inclining to remove this dependency ( we do not enforce it in the code ... [1] ) but I also want users to have easy life ...

[1] https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L656

[2017-06-14 11:01] vshymanskyy commented on #118
Cool. Thanks for explanation!
How about just being able to work with any Node.js stream: https://nodejs.org/api/stream.html
SerialPort already supports that and they improve it further in release 5+

[2017-06-14 11:03] yaacov commented on #118
sound great, can you make a pull request ?

[2017-06-14 11:04] vshymanskyy commented on #118
Probably - when I get to it ;)

[2017-06-14 11:06] yaacov commented on #118
have fun =^..^=

[2017-06-15 08:11] naveen26246 commented on #115
Hi @yaacov , the module was working fine when I was testing my modbus device on my pc (ubuntu 16.04 , via uart-usb connector). However, when I try the same code on arm based device(ubuntu 16.04 again) , I get the following error. I am not sure if I need to edit serialport module and rebuild. Any help would be greatly apprecaited.

  modbus-serial { action: 'send serial rtu buffered',
  modbus-seri

[2017-06-15 09:01] yaacov commented on #115
`/dev/ttymxc2` is connected to the same usb to [rs484/rs232/...] hardware you used on the PC ?

[2017-06-15 10:20] naveen26246 commented on #115
No.. its directly connected to the rs 232 port on the gateway device.

[2017-06-15 10:25] xalepo4 opened #119 "TCP Server give differents responses each time"
Hi,
I'm using version 5.2.9 and I've found another extrange think.
If I execute the example TCP server and execute another script using the function readCoils for example it give me differents results everytime. If I execute readHoldingRegisters as in your tests it answer me ok, but only that function works correctly.
I attach my code and screenshots:

Server.js:
![test1](https://user-images.githu

[2017-06-15 10:26] yaacov commented on #115
a. your device speek modbus over rs232 ?

b. you can connect the rs232 from you device to a PC and see what actually is sent ...

[2017-06-15 10:27] yaacov commented on #119
Thanks ! I will look into it

[2017-06-15 10:34] naveen26246 commented on #115
a. My device speaks over modbus 485 (Sorry about the 232 confusion. Im a newbie here).
b. The data is being read when i connect the modbus device to my pc. But not on the gateway device.

[2017-06-15 10:39] yaacov commented on #115
485 requires a direction pin , when you use a `usb -> 485` device this is done for you, you need to read the rs485 out documentation on your arm device.
If this direction pin is not set automatically by hardware, this library does not do this for you :-(

[2017-06-15 11:08] xalepo4 commented on #119
I'm looking the code and testing and in servertcp.js when you create a buffer you use new Buffer(size) instead of new method Buffer.alloc(size). If you print the buffer before create with the old method it have random values.

[2017-06-15 11:47] xalepo4 commented on #119
Tested changing new Buffer(size) to Buffer.alloc(size) and it works fine

[2017-06-15 11:49] yaacov commented on #119
Can you make a pull request ?

[2017-06-15 11:52] xalepo4 commented on #119
Yes this afternoon I'll make.

[2017-06-15 14:23] yaacov commented on #119
Fixed in https://github.com/yaacov/node-modbus-serial/pull/120

Thanks @xalepo4

[2017-06-15 14:23] #119 closed

[2017-07-09 05:58] Scolioza commented on #115
Hello and thank you for this great piece of software.
I want to implement a IOT project using Arduino and raspberry pi. For Arduino I used you library which, by the way, works great (callback idea is great). I tested the Arduino with QModbus software and everything worked flawless.
However the long term plan is to integrate everything on an express server. So I started to play with your modbus-ser

[2017-07-09 06:25] Scolioza commented on #115
Just for testing purpose I did the following:

[code]
The error from callback:

[code]

[2017-07-09 07:00] yaacov commented on #115
@Scolioza Thanks,

a. I do not see the 'connected' and 'here' strings in the output ... It looks like it never connected to the serial port "com7"
b. If you can solve it and post a pull request that fix it, it will help a lot (I do not have lots of time lately).

some notes I can think of that may help:
a. Try to connect to the serial port using https://github.com/EmergingTechnologyAdvisors/node-s

[2017-07-09 07:06] yaacov commented on #115
@Scolioza

This is high level lib, it will work with both, it assume all low level stuff is taken care of by node-serialport.

[2017-07-09 07:22] Scolioza commented on #115
Thanks for your fast response.
I always get this response:

[code]
And with your snippet I still get Connected but when I want to write to register nothing happen.

[2017-07-09 07:27] yaacov commented on #115
a. are you sure the unit id is 1 ?
b. are you sure baud, parity, stopbit ... are all currect ?
c. can you sniff what QModbus is sending and receiving:
   1. understand from that what are the unit-id, registers, function used ?
   2. compare to the debug log of node-modbus and see what is wrong ?

[2017-07-09 07:43] Scolioza commented on #115
The id is indeed 1. The settings are:
baudrate 9600
Databits 8
Stopbits 1
Parity none.

QModbus is working as expected. I am able to read and write all the registers that are defined in arduino sketch.
I will dig more this evening.

[2017-07-09 13:10] Scolioza commented on #115
I finnaly :) manage to make it work !!!

In my case autoOpen must be disabled.
So here is the code. Hope it will help somebody.

[code]
Thanks again for your great job !

[2017-07-09 13:14] yaacov commented on #115
@Scolioza Thanks 👍

Closing this, with your work around, mainly because I do not have time to fix this ...

p.s. can you try:

[code]

[2017-07-09 13:15] #115 closed

[2017-07-09 13:19] yaacov commented on #113
Closing, do not have time to implement this now ... may open if I have time.

[2017-07-09 13:19] #113 closed

[2017-07-09 13:37] yaacov commented on #114
closed by: https://github.com/yaacov/node-modbus-serial/pull/121

[2017-07-09 13:37] #114 closed

[2017-07-09 13:40] yaacov commented on #118
Closing, as I do not have time to look at it now.

[2017-07-09 13:40] #118 closed

[2017-07-12 15:38] uwburn commented on #116
Hello,
i'm using the Modbus Server to mock a controller where i should connect, and every time i restart the client (master) application the server crashes.

I think the server should handle the socket error event that happens when the client abruptly closes the connection. Alternative, an event might be exposed to be handled by user's code.

As a workaround i'm using:
`process.on('uncaughtExcepti

[2017-07-12 16:02] yaacov commented on #116
@uwburn Thanks

p.s.
If you can make a pull request with a fix, it will be very nice, I do not find the time to fix this ...

[2017-07-12 16:54] checor commented on #116
I will try to help with that too. I want to get my hands in Node.

2017-07-12 11:02 GMT-05:00 Yaacov Zamir <notifications@github.com>:

[2017-07-12 17:31] uwburn commented on #116
@yaacov: i will try to get a grasp on it.

[2017-07-12 22:10] uwburn commented on #116
Submitted pull request #122.

[2017-07-13 03:25] yaacov commented on #116
Will merge once tests are green.

[2017-07-13 08:37] uwburn commented on #116
On windows the linter went crazy, so i just ignored it... my bad. I tested again on linux and fixed linter complaints.

The bad side is that on Linux i could not get the ECONNRESET error to trigger on the server.
I'm spawning a child process that opens the connection to the server and then killing it: on Windows when the process is killed the socket is closed abruptly and ECONNRESET is triggered,

[2017-07-13 08:51] yaacov commented on #116
yes, thanks for the work ! I will try to make the test work and merge it when I do, you can try too :-).

[2017-07-13 08:54] uwburn commented on #116
Ok, i later on i will update the PR. I will leave the test case for ECONNRESET commented, so the test will not fail and you can see the idea behind it.

[2017-07-15 19:15] yaacov commented on #117
fixed by #123

[2017-07-15 19:15] #117 closed

[2017-07-15 19:17] yaacov commented on #116
fixed by #122

[2017-07-15 19:17] #116 closed

[2017-07-19 07:27] code19-io opened #125 "Modbus RTU (RPi 3 Model B to PC) Serial Sending but not Receiving"
I have been testing my Raspberry Pi 3 Model B with my PC (Windows 10 64 Bit) using Serial communication to emulate Modbus slave and Master connection types.
I have gone through multiple tutorials and i have been using a USB to Serial Converter (CH340) to communicate.

Testings

- Connected GPIO15 and GPIO16, and communicated using ttyAMA0 port :  Works
- Connected my USB to Serial Converter to Ras

[2017-07-19 08:08] yaacov commented on #125
hi, thanks for the issue

a. try to catch errors:
[code]

If you have errors, paste them here.

b. if you have another serial converter try to connect PC to PC and see if you can learn something new.

if it works / not works, describe what you see.

[2017-07-19 08:27] code19-io commented on #125
Hi @yaacov ,

Thanks for the quick reply.

I have tried your solution A.
The function it self is freezed and shows nothing.

Scenario

[code]
When i run it from Raspberry pi, It prints out "Writing" and stays still, nothing happened.

Console Output
`Writing
`

B. I dont have another serial converter ... but i am pretty sure that this serial converter is working fine.

Thanks in Advance.

[2017-07-19 08:32] yaacov commented on #125
a. you can also try run with debug on:

[code]

b. add more `console.log` s , maybe you can understand somthing ?

[2017-07-19 08:33] yaacov commented on #125
do the simulator has debug data ?

[2017-07-19 08:36] code19-io commented on #125
I'll try to run with debug on,
If you dont mind can you walkthrough on how to debug (I am a Newbie)

What do you mean by Simulator has Debug Data ?
The Simulator i am using is from http://www.modbustools.com/modbus_slave.html.

[2017-07-19 08:40] code19-io commented on #125
This is the output of DEBUG=modbus-serial node test.js
[code]

[2017-07-19 08:45] yaacov commented on #125
a.
this:
http://www.modbustools.com/slave_traffic.html
should correspond to what you see in the test.js debug output.

b. From what I see, it looks like the message sent back from the PC never gets back to the Raspberry.

[2017-07-19 08:50] code19-io commented on #125
This is the output of Slave Traffic,

![image](https://user-images.githubusercontent.com/29927177/28358544-e7359642-6c8c-11e7-992f-41058636c394.png)

Yes, I think so.

I have used [Hercules](http://www.hw-group.com/products/hercules/index_en.html) to send and receive serial communication. It Receives from the Raspberry Pi but when i started to send a message nothing happens.

I have inserted a
`co

[2017-07-19 08:57] yaacov commented on #125
ok, it looks like this is the problem ...

[2017-07-19 09:00] code19-io commented on #125
Is it possible to sort it out?? Can you help me??

 Thanks in advance

[2017-07-19 09:02] yaacov commented on #125
It looks like a problem on the PC/Simulator side I have no way to help you with this ...

[2017-07-19 09:15] yaacov commented on #125
you should read the documentation of your USB to Serial Converter, maybe you are missing something in it's setting.

[2017-07-19 09:27] code19-io commented on #125
Thank you @yaacov for your guidance
I am closing this issue

[2017-07-19 09:27] #125 closed

[2017-07-19 09:59] yaacov commented on #125
thanks, you can comment here again if you find how to solve it.

[2017-07-23 11:25] IlhanSeven opened #126 "Modbus TCP Write"
Thank you for sharing this. This has been very useful. I don't know if this functionality is implemented but Modbus TCP write gives:

{ name: '', message: 'Port Not Open', errno: 'ECONNREFUSED' }

Port is actually open because I am reading values via Modbus TCP. I wonder if it means 'Serial Port' when it says 'Port Not Open'.

[2017-07-23 12:25] yaacov commented on #126
Thanks for the issue, can you put here a sample program that show this ?

[2017-07-23 14:51] IlhanSeven commented on #126
Thanks for quick replay. The issue is timing as I found.
Below says 'Port Not Open'
...
client.connectTCP('192.168.1.68', { port: 5502 });
client.setID(1);
client.writeRegisters(5, [5, 6, 7]);
...

Below is ok.
...
client.connectTCP("192.168.1.68", { port: 5502 })
    .then(setClient);

function setClient() {
    client.setID(1);
    write();
}

function write() {
    client.writeRegisters(5, [5,

[2017-07-23 15:23] yaacov commented on #126
Closing ?

[2017-07-23 15:25] IlhanSeven commented on #126
Yes, Thanks again.

[2017-07-23 15:25] #126 closed

[2017-07-23 15:26] yaacov commented on #126
np :-)

[2017-07-28 15:37] Thosty opened #127 "servertcp.js function _handleForceMultipleCoils - value is always true"
Hi

I think the expression `state !== 0` is not correct because in my case the value of a coil is always true.

Kind regards

[2017-07-28 15:41] yaacov commented on #127
Nice 👍 , can you write a pull request changing it to `!== false` ?

[2017-07-28 15:59] Thosty commented on #127
I will try it. I've never done that before 😊.

[2017-07-28 16:00] yaacov commented on #127
have fun.

first check that this really fix the problem ... :-)

[2017-07-28 16:24] yaacov commented on #127
Fixed by https://github.com/yaacov/node-modbus-serial/pull/128

Do you need it in the npm package, or this can wait for a new release ?

[2017-07-28 16:25] Thosty commented on #127
This can wait for a new release.

[2017-07-28 16:26] yaacov commented on #127
👍

[2017-07-28 16:26] #127 closed

[2017-08-06 08:42] q-bird opened #129 "Config Serial port parameters"
Hi there,

I saw some examples in modbus-serial, when we use it with serial port, I just saw we can setup the baudrate like this: `client.connectRTU("/dev/ttyUSB0", { baudrate: 115200 })`

What about other parameters like `parity, stopbit, databit..`. How to change them?

[2017-08-06 08:45] q-bird commented on #129
Hi there,

I saw some examples in modbus-serial, when we use it with serial port, I just saw we can setup the baudrate like this: `client.connectRTU("/dev/ttyUSB0", { baudrate: 115200 })`

What about other parameters like `parity, stopbit, databit...` How to change them?

[2017-08-06 08:57] yaacov commented on #129
all options available in node-serialport should work, e.g. `{ baudrate: 115200, parity: ..., stopbit: ..., ... }`

[2017-08-06 09:39] q-bird commented on #129
Hi
I saw in file `serialport-terminal.js`:
[code]
So the keywords will be `baudRate, dataBits, parity, stopBits` right?

But when I setup the `client.connecRTU`, seems that the parameters not affect to the result
Meaning if I leave it as default, or change baudRate, dataBits... the result is also good (although the modbus slave I changed to the different config (different baudrate, databits...)

I

[2017-08-06 10:52] yaacov commented on #129
👍 thanks I didn't notice that

Not as far as I know ... but maybe \o/

in modbus-serial we just copy the options and send them to node-serial:
https://github.com/yaacov/node-modbus-serial/blob/master/apis/connection.js#L71

options we did not defined should default to:
https://github.com/EmergingTechnologyAdvisors/node-serialport#module_serialport--SerialPort..openOptions

p.s.
Thanks for the issu

[2017-08-06 11:12] q-bird commented on #129
Thanks for your quick respond!

BTW, I also don't use hardware to test, I used a soft to create the virtual COM port to test with a Slave tool.
I will check with hardware to see later :D

[2017-08-08 10:13] q-bird opened #130 "ServerTCP event"
Hi,

[code]
`var serverTCP = new ModbusRTU.ServerTCP(vector, { host: "0.0.0.0", port: 8502, debug: true });`

For example, the modbus client TCP sends a request to read 10 holdingRegs (addr from 0-9)
What I tested is the vector will be called 10 times continuously, each time for each addr (0, 1, ..., 9) and return the corresponding value.

**My issues are:**
- How to know when will the client modb

[2017-08-08 10:58] yaacov commented on #130
[code]

Ooo... good point 👍 didn't think of that use case ... you are welcome to add this functionality ...

[2017-08-10 12:43] ercint opened #131 "UART integrated Modbus-Serial"
Hi,

We would like to use your library but also we have to  set RTS signal while we are sending data to request response. So we will not use USB to RS485 converter, that is why we need to set it manually, in other way, we connect directly rs485 module from our device.

So can you please tell us where should we set the bit in your package then clear it to wait the response?

Thanks in advance,
Rega

[2017-08-10 13:01] yaacov commented on #131
Hi,

a. see node node-serialport [1] for documentation about control signals.
b. feel free to update the node-serialport version we use [2] if you need more options.
c. the place to set the control bits is before and after send:
sending data:
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L150
d. you will have to add a callback to know when to unset the bit:
be aware that when c

[2017-08-12 06:05] ercint commented on #131
Hi,

Thans for your reply, we are working on it but we cannot make callback work
after write function which you mentioned at line 150. Here is the part of
the code what we added.

Do you have any idea why callback is not called after write?

this._port.write(buffer, 'utf8', function(err){
                        console.log(err);
                        console.log("Callback Called");

[2017-08-12 06:12] yaacov commented on #131
What port do you use ?

Only the simple `connectRTU` [1] use serialport as is , if you use `connectRTUBuffered` you need to override the RTUBuffered `write` fuction, and add callback support here:
https://github.com/yaacov/node-modbus-serial/blob/master/apis/connection.js#L60
https://github.com/yaacov/node-modbus-serial/blob/master/ports/rtubufferedport.js#L169

have fun

[1] https://github.com/ya

[2017-08-12 06:19] yaacov commented on #131
p.s.

a. maybe you should use the `flush` function callback ?
https://github.com/EmergingTechnologyAdvisors/node-serialport#module_serialport--SerialPort+flush

I did not try any (not write and not flush), but using flush looks more safe

b. some devices start sending response really fast after end of request, if you set the control bit too late, you may lose start of response, you should check fo

[2017-08-12 06:30] ercint commented on #131
Hi,

Thanks for your fast reply :)

We are using RTUBuffered as you guessed. we make callback work but now it is returning timeout.

We will check flush.

[2017-08-13 04:03] q-bird opened #132 "Bug during the Modbus TCP Server running"
Hi,

When I run the Modbus TCP, and I didn't touch anything, just see the result for a while, but sometime it shows the error as below... Then I have to re-run the program

Have you ever seen the same problem like this?

[code]

[2017-08-13 04:46] yaacov commented on #132
Hi, thanks for the issue !!

We will need to fix that :-)

I will look at it next weekend, if you can investigate more, and maybe come up with a fix, it will be nice.

[2017-08-14 16:06] q-bird commented on #130
Hi,

I'm a beginner with nodeJs, so in order to fix this issue, I changed something in file `servertcp.js`:
[code]
The original is ` (address + i, unitID)`
I changed to `(address + i, unitID, address, length)`
The aim is to get the start address and to know how many registers the client requires.
And in the main file I can call: `var doStuff = function(addr, unitID, start_addr, num_regs) { ... }`

[2017-08-14 16:22] yaacov commented on #130
a. you should do a [pull request](https://help.github.com/articles/creating-a-pull-request/) :-)

b. you can add a new function to the vector  `getMultipleHoldingRegisters` , this function returnes an array (size length) of `UInt16` and you loop on this numbers to insert them to the `responseBuffer`

[2017-08-15 15:36] BrkDalkiran opened #133 "RTU port close"
how to close a serial port?

var ModbusRTU = require("modbus-serial");
 var rtuClient = new ModbusRTU();
                    rtuClient.connectRTUBuffered('/ttyUSB0', {
                        baudrate: 9600,
                        parity: 1,
                        dataBits: 8,
                        stopBits: 1
                    }) .then(function () { });

[2017-08-15 15:39] yaacov commented on #133
`rtuClient.close()`

https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L345

[2017-08-18 02:18] wuyuliyu commented on #132
Hi,

The erro below will appeared, when the network interface of client disconnect ,then connect it again.

events.js:182
      throw er; // Unhandled 'error' event
      ^
Error: read ECONNRESET
    at _errnoException (util.js:1022:11)
    at TCP.onread (net.js:610:25)

How to solve it ?  thanks :)

[2017-08-26 13:45] #133 closed

[2017-08-28 15:01] code19-io opened #134 "Modbus RTU Data Type"
I have been using modbus-serial to communicate with some energy meters. Those Energy meters outputs 32 bit float values and sometime 64 bit double values. Are these data types are supported by this module ?

[2017-08-28 15:45] yaacov commented on #134
You can read the raw buffer and parse the data yourself, here is an example of parsing `UInt32BE` from a buffer of two 16bit registers:
https://github.com/yaacov/node-modbus-serial/wiki/Examples:-clients#read-raw-buffer

[2017-08-28 16:51] IlhanSeven commented on #134
Whatever type the value is, data is stored in classic 16 byte Modbus registers. As yaacov said, you can get it raw and parse it accordingly. Just be careful about byte and word orders. It can change from meter to meter.

[2017-08-28 20:13] code19-io commented on #134
I'll try to get them as buffer and try

[2017-08-29 16:13] code19-io commented on #134
If i am using Modbus-Serial module to implement a modbus master and using the following settings to communicate with the modbus slave

- BaudRate: 19200
- Databits: 8 bit
- Stopbits: 2 bit
- Parity: None
- RTSCTS: true

And using Modbus Slave (http://www.modbustools.com/modbus_slave.html) to simulate modbus slave and using virtual ports to communicate within my environment.

Please help me on gett

[2017-08-29 16:21] yaacov commented on #134
See this example of parsing UInt32BE from a buffer of two 16bit registers:
https://github.com/yaacov/node-modbus-serial/wiki/Examples:-clients#read-raw-buffer

Data recived is a buffer, see buffer documentation for how to parse, and display it:
https://nodejs.org/api/buffer.html

[2017-08-30 05:34] yaacov commented on #134
:-)

[2017-09-09 17:31] ReinierH opened #135 "set vmin parameter to MIN_MODBUS_PACKET"
Hi!

I noticed that the library is trying to parse 1 byte frames. setting the vmin to MIN_MODBUS_PACKET would solve this problem preventing the parser from parsing invalid packets.

[2017-09-09 17:32] yaacov commented on #135
Nice !  can you make a pull request ?

[2017-09-09 17:35] ReinierH commented on #135
Working on it

[2017-09-17 20:26] yaacov commented on #135
fixed by #136

[2017-09-17 20:26] #135 closed

[2017-09-23 16:08] biancode opened #137 "server need working close"
Hi,

the modbus._server doesn't close and so I get:

idea after a short search...

[code]

It needs a [server.close()](https://nodejs.org/api/net.html#net_server_close_callback), please.

[2017-09-24 08:15] #132 closed

[2017-09-24 08:38] yaacov commented on #131
Closing as this is out of scope of this repository ...

[2017-09-24 08:38] #131 closed

[2017-09-24 08:40] yaacov commented on #129
Closing, this works for me :-)

p.s.
@q-bird feel free to re-open if this is not working for you on a real serial port ... we will need to see what is different in your set-up.

[2017-09-24 08:40] #129 closed

[2017-09-24 09:02] wuyuliyu commented on #130
![image](https://user-images.githubusercontent.com/19159821/30780996-ec34329c-a149-11e7-97c5-6aa87a560e8c.png)
Client power off restart

[2017-09-24 09:52] #137 closed

[2017-09-24 10:39] biancode opened #142 "new NPM release"
Dear yaacov,

Please, don't forget the NPM release. I need the server close for Node-RED.

[2017-09-24 11:07] yaacov commented on #142
fixed by #143

[2017-09-24 11:08] #142 closed

[2017-09-25 20:08] biancode opened #144 "response delay for server?"
Dear yaacov,

it is helpful for testing to work with an optional response delay for the server.
With that, I can setup a server with a variety, long or short delay.

_parseModbusBuffer -> return with setTimeout of responseDelay?

cya Klaus

[2017-09-25 22:16] biancode opened #145 "server response FC3 and FC4 wrong"
Dear yaacov,

please, try the new buffered_server and the write_complete and logger_complete clients.
The server response for FC3 and FC4 is not correct in that cases.

cya
Klaus

[2017-09-25 22:20] biancode commented on #145
bufferFactor = 8 was missing

[2017-09-25 22:20] #145 closed

[2017-09-25 23:22] yaacov commented on #144
sounds good to me :-)

[2017-09-30 13:27] biancode opened #149 "serialport isOpen to Boolean - is not a function"
I did not see port.isOpen - [Serialport](https://github.com/EmergingTechnologyAdvisors/node-serialport/blob/master/test/serialport.js) line 219 test - is now Boolean not a function

[2017-09-30 13:47] biancode commented on #149
hint for me - Serialport should be wrapped to hold a static own API

[2017-09-30 15:29] biancode commented on #149
@yaacov what do you say - change isOpen to Boolean in that lib or build a wrapper for SerialPort to be compatible

[2017-09-30 17:37] yaacov commented on #149
I prefer to change isOpen to Boolean like:
https://github.com/EmergingTechnologyAdvisors/node-serialport/commit/5616664ed67a983a28aa54e08350f374e9be9085

[2017-10-01 08:35] yaacov commented on #149
@biancode hi,

We have a new version v6.0.1 that fixs this 🎉 🍰
Can you check that it fixes this issue ?

[2017-10-01 18:15] biancode commented on #149
@yaacov - yes I'll check it tomorrow - thank you!

[2017-10-02 21:10] biancode commented on #149
@yaacov it works very well for me and for now, I'm very happy with that version

If you find some time try your Modbus server in Node-RED

![image](https://user-images.githubusercontent.com/4369867/31099604-dd91ac00-a7c6-11e7-87d6-af6def70b82b.png)

[2017-10-03 04:19] #149 closed

[2017-10-05 13:52] neldefant opened #152 "baudrate or baudRate"
The documentation for node serialport (5.0.0) uses "baudRate" - capital "R" for the optional parameter. In practice, at least on windows, this seems to matter. The examples use the default of 9600, so it is possible that the "baudrate" parameter is being ignored and things just happen to work.

![image](https://user-images.githubusercontent.com/17005294/31230705-b03e7e0a-a9dc-11e7-9f68-dcaa5ce2f95

[2017-10-05 15:09] yaacov commented on #152
Thanks !

https://github.com/EmergingTechnologyAdvisors/node-serialport#module_serialport--SerialPort..openOptions

[2017-10-07 10:29] #152 closed

[2017-10-13 04:46] reconbot opened #154 "Upgrade Serialport"
Node Serialport 6x has been released. I highly recommend you upgrade as it has wonderful performance improvements for windows over 5x.

[2017-10-13 05:19] yaacov commented on #154
👍

a. Does it require any changes to the code ?
b. Can you make the pull request ?

[2017-10-13 05:34] yaacov commented on #154
@reconbot , I see that the api did not change 👍  just updating dependencies.

[2017-10-13 05:35] #154 closed

[2017-11-01 06:32] biancode opened #159 "serialport should be min v6.0.4"
Dear yaacov,

see [Issue](https://github.com/biancode/node-red-contrib-modbus/issues/61) early serialport versions has CPU load, which is fixed if the test is running with v6.0.4 of serialport package

Happy coding!
Klaus

[2017-11-01 06:36] yaacov commented on #159
can you make a pull request ?

[2017-11-01 06:38] biancode commented on #159
Yes sure, but what about v7.0.0 is it ready to use?

[2017-11-01 06:53] yaacov commented on #159
Yes :-)

The changes where too small, so I waited with publishing a new release, It include the needed change from boudrate to baudRate, and the open issues are not blockers.

[2017-11-01 07:07] yaacov commented on #159
closed by #160

[2017-11-01 07:07] #159 closed

[2017-11-01 07:17] yaacov commented on #159
@biancode v7.0.1 is on npm 🍰

[2017-11-07 13:05] archgloom opened #162 "Compatibility with windows ?"
We can't use this on windows operating system.  Because it doesn't support setting serial path.
Eg. in unix/linux we set serial port path from "/dev/ttyS0"  in Windows we have COM1,COM2,COM3  etc.
So it does not work on windows NodeJS.

what should we do to use it on windows ?

[2017-11-07 13:11] yaacov commented on #162
I did not try it myself, but a path like "COM1" should work.

Can you try using "COM0".."COM99" and describe the error or success ?

[2017-11-08 13:08] neldefant commented on #162
Works on Windows 10 (and Linux), node 6.10.0, using various USB-serial things.

// create a modbus client using the serial port
var ModbusRTU = require("modbus-serial");
var client = new ModbusRTU();

// Get configuration location
if (/^win/.test(process.platform)) {
   var port = "COM7";
}
else {
    var port = "/dev/ttyAMA0";
}

// open connection to a serial port
client.connectRTU(port, { baudR

[2017-11-08 13:09] yaacov commented on #162
Greate 🎉

[2017-11-08 13:09] #162 closed

[2017-11-08 14:54] meisterlampe opened #163 "Make serverTcp handler async?"
I think about getting the register values from an async api and I don't know how to block the synchronous function until the promise is resolved.

After a first look into the code (servertcp.js), it seems possible to make `_parseModbusBuffer` async and await all the handlers.
What's your opinion? Is there a reason for the tcp server functions to be sync?

[2017-11-08 15:30] yaacov commented on #163
hi, thanks for the issue, I will look at it this weekend ... ( hopefully :-) )

[2017-12-07 09:21] meisterlampe commented on #163
In my case I just needed an async call to `getHoldingRegister`, so I can do some async work in the handler.
You can find my changes in https://github.com/meisterlampe/node-modbus-serial/blob/master/servers/servertcp.js

I know, it is a hack breaking the API and far away from beeing a PR as all other methods should still need to be converted to async. Anyway it's a working test for me right now :)

[2017-12-07 10:12] yaacov commented on #163
wow, thanks, I hope to have time to look at it ...

[2017-12-15 11:15] Athiththan opened #164 "Read Multiple Registers at once"
I have been using this module to read data from Modbus devices, and now I am in need of reading 3 different registers from the same device. How should i do it ???

Thanks in advance.. (still a beginner)

[2017-12-15 11:21] yaacov commented on #164
Hi, thanks for the issue :-)

a. if this registers are near, you can use one call to readInputRegisters.
for example, if you want to read registers 2, 5 and 7, you can read 6 registers starting from register 2:
`client.readHoldingRegisters(2, 6)`

b. if this registers are far apart, you can use several call to readInputRegisters.
for example, if you want to read registers 2, 500 and 501:
`client.r

[2017-12-15 11:25] Athiththan commented on #164
OK thank you for the quick response ....

I am having the Part B issue and as well as i have to read them with a timeout... how should i achieve that without conflicting with any others

Thanks in advance

[2017-12-15 11:32] yaacov commented on #164
You can use promises or callbacks:

[code]

Using premisses:
[code]
Using callbacs:
[code]

[2017-12-15 14:43] sacha67 opened #165 "Blue Screen Windows 10"
Hello,

I'm using your module to comunicate with a device using RTU connection.

I tried to use your functions with async/await and had multiple windows Blue Screen Errors ("system thread exception not handled" or "multiple irp complete requests windows").

	async testFunc(): Promise<any> {
		const client = new ModbusRTU();
		await client.connectRTUBuffered('COM4');
		client.setID(3);
		client.set

[2017-12-15 14:48] yaacov commented on #165
Hi, thanks for the issue,

I do not have a windows machine ... I can't help you here. From the error it sounds like a low level promise/node issue, do use the last node version ?, If you find a way to solve it, please leave a comment here.

[2017-12-15 14:52] sacha67 commented on #165
I have node version: 8.9.1

[2017-12-15 14:57] yaacov commented on #165
Current is 9.3.x , you may try to upgrade ...

[2018-01-05 16:27] dom-white opened #166 "No support for v8 node.js"
Sometime ago an 'engine' limitation was added to this repo to prevent node-modbus-serial running with anything other than node.js v4 or v6. See following commit:

[update to new serialport with better listing of ports - supports just LTS versions like 4 and 6 later 8 and so on](https://github.com/yaacov/node-modbus-serial/commit/79a8697b22e528cc2a9fdd77ab65f6c826eee3b0#diff-b9cfc7f2cdf78a7f4b91a75

[2018-01-06 08:49] yaacov commented on #166
my vote - remove the limitation :-)

my vote - yes

can you make a pull request removing this check, and add some notice in the readme ?

[2018-01-08 12:04] yaacov commented on #166
fixed by #167

[2018-01-08 12:04] #166 closed

[2018-01-11 10:08] uwburn commented on #163
Hello,
i'm working on a callback based non API breaking version of this, as i needed to simulate some delay of the network for testing purposes.

If it works out ok, i will write up tests for it and submit PR. ;)

[2018-01-11 10:31] yaacov commented on #163
great 👍

[2018-01-12 07:06] sergiupienar opened #171 "Modbus RTU over TCP/IP"
Hi,

I`m using the Modbus Slave emulator (from modbustools) that is set in RTU over TCP/IP mode and can't manage to get data out of it when connecting with modbus-serial.

I can see there is distinction when it comes to the Rx made from an app that works well (Modbus Poll) and the calls that I am making from modbus-serial.

When using Modbus Poll (the app that works) the Rx is headless and has a C

[2018-01-12 08:05] yaacov commented on #171
Hi, Thanks for the issue !

I think it's a documentation bug, IIRC the `connectTcpRTUBuffered` is the same as `connectTCP` but with frame check and concatenation of broken packages (for example, esp8266 may break packages from time to time).

I think that `connectTelnet` is closer to what you are looking for.

If the telnet port works for you, please comment here so I can fix the description of `c

[2018-01-12 08:10] sergiupienar commented on #171
Hi,

Indeed, connectTelnet worked well when the Modbus Slave is set to RTU over TCP/IP.

Thanks for the hint.

[2018-01-12 08:10] #171 closed

[2018-01-15 10:10] yaacov commented on #163
@meisterlampe please check  #170

[2018-01-16 10:03] meisterlampe commented on #163
Hm, I tried the current master branch and it was not working for me.
Maybe I'm using this wrong.

My test:
1. Using Smply Modbus TCP Client 8.0.7 to read a 32bit Float (working with my async mod mentioned in this issue)
2. Modbus-Server sends `4369 3A32`
3. Receiving only the first UInt16. Complete result is e.g.: `4369 0000`
4. Reading another 32bit Float
5. From now on the **previous** results a

[2018-01-16 12:01] yaacov commented on #163
@uwburn ^^

[2018-01-16 20:55] uwburn commented on #163
Ok, this is embarassing, i messed up the `servertcp.js` file as i started to work (in a hurry) on an older version and then copy-pasted it failing to merge it correctly.

I went through the commit history of the to check out that is now restored properly. I have committed it again on my fork. @yaacov do you want another PR?

@meisterlampe
I'm not sure if that's the root of the problem, but `async/

[2018-01-16 20:56] yaacov commented on #163
@uwburn sure :-)

[2018-01-17 06:29] yaacov commented on #163
@meisterlampe, @uwburn  please check #172 ;-)

[2018-01-17 12:55] meisterlampe commented on #163
Disconnecting is now handled well :)

I debugged my test app and I discovered the following behaviour:
- The Simply Modbus Client waits until the callback function is called the first time (or until the timeout reached, when I did not hit F5 fast enough ;) )
- After calling the callback the first time, the Modbus client immediately shows the result showing only the first UInt16 part. It is not wai

[2018-01-17 13:49] meisterlampe commented on #163
I now had a deeper look into the code and maybe I found the issue:

In the old version of `_handleReadMultipleRegisters` the buffer was filled for every requested part:
[code]
The buffer was only send to the client after it has been completely filled.

In the new code, a callback is called for every requested part:
[code]

The callback writes to the responseBuffer and then calls its own callback `

[2018-01-17 14:14] yaacov commented on #163
@uwburn WDYT ?
@meisterlampe , can you fix it, so it will work for you, and send a pull request ?

[2018-01-17 15:17] meisterlampe commented on #163
Created a PR which fixes getHoldingRegister for me.

[2018-01-17 15:49] yaacov commented on #163
@uwburn can you check if this works for you (https://github.com/yaacov/node-modbus-serial/pull/173) ?

[2018-01-17 16:18] uwburn commented on #163
@meisterlampe bingo, i think your explanition is correct!

Looking at #173, there are other cases other than `_handleReadMultipleRegisters` where the `buildCb` approach is used. Also, i think `i` and `countCallbackCalls` should be the same, so you can just check for `i === length`.

[2018-01-17 16:21] yaacov commented on #163
@uwburn can you make the fixes in a pull request ?

[2018-01-17 18:57] yaacov commented on #163
https://github.com/yaacov/node-modbus-serial/pull/174 ready for re-testing

@uwburn @meisterlampe can you re-check ?

[2018-01-17 19:39] meisterlampe commented on #163
I would say, checking for i === length is not enough.
You cannot tell in which order callbacks will be called, because the invocation of the callback is async. Therefore, the callback for i === length must not necessary be the last one, that is called.

[2018-01-17 19:45] yaacov commented on #163
so if we use a counter (like in #173) it's will work for all @meisterlampe @uwburn ?
my vote is for using a counter if it doesn't break anything else :-)

[2018-01-17 20:28] uwburn commented on #163
I see your point: considering that a dedicated counter is definitely needed. ;)
I'm off for tonight, but i can update the PR tomorrow.

[2018-01-17 20:29] yaacov commented on #163
great !

[2018-01-18 06:49] uwburn commented on #163
Submitted. :)

Just to be sure, callbacks resolution order is not important as `responseBuffer.writeUInt16BE(value, 3 + i * 2)` (and similar) is called with an offset, correct?

[2018-01-18 07:08] yaacov commented on #163
a. yes, `writeUInt16BE` is always called with an offset.
b. @meisterlampe @uwburn last round of checks, just to be sure ?

[2018-01-18 07:09] yaacov commented on #163
referencing the pull request: https://github.com/yaacov/node-modbus-serial/pull/175

[2018-01-18 08:03] meisterlampe commented on #163
Looks good to me and this is working in my application without problems.
(I'm using only getHoldingRegister, but the other handlers seem to be very similar and they look good to me too)

[2018-01-18 08:10] uwburn commented on #163
I was thinking about error handling: a proper callback implementation should handle an error first parameter and promises should be catched.

For me this is not particoularly relevant, as i'm using the server for testing purposes, it never throws errors, as it answer mostly fixed result, but if the server is meant to deal also with real devices i think that would be needed.

Dealing with errors sh

[2018-01-18 09:42] yaacov commented on #163
Thanks 👍

For me it was a lot of fun to do this together ! thanks @meisterlampe and @uwburn

If one day you decide to implement this, just submit a pull request :-)

[2018-01-18 10:07] uwburn commented on #163
Good!

As for the error handling, i have it mostly implemented by now... i need to review the changes a little further before submitting PR again, i will do it in a day or so.

In case of an error i'm doing
[code]

[2018-01-18 11:54] meisterlampe commented on #163
Thank you for solving this issue that lightning fast @yaacov and @uwburn. It was fun for me too and still is :-)
@uwburn Error handling looks good to me. This enables me also to signal errors from the callback, which was not possible before in the sync version, right? That would be a new feature 👍

[2018-01-18 20:11] uwburn commented on #163
No problem at all, it's nice to contribute to this project! :)

As for the error handling, for sync and Promises it will be enough to `throw`, callbacks will need to be called passing a non-null first parameter.

[2018-01-19 10:40] uwburn commented on #163
I'm setting up a test case, and i found an unhandled condition: what should happen if `length` as in `_handleReadMultipleRegisters` is 0? Is it an error to do a 0 length request or should the response be sent anyway?

[2018-01-19 11:01] yaacov commented on #163
p.s.
we only call this functions if `length > 0` [1] so currently it will simply do nothing ...

[1] https://github.com/yaacov/node-modbus-serial/blob/master/servers/servertcp.js#L184

[2018-01-19 13:04] uwburn commented on #163
Yes, that's the problem, no callbacks would be invoked, ending up with the server never responding.

Submitted new PR anyway, if no problemi arises i think we're done.

BTW, i think async support in server also addresses #144.

[2018-01-19 13:08] yaacov commented on #163
@uwburn  added error handling and docs: https://github.com/yaacov/node-modbus-serial/pull/176

@meisterlampe , can you verify this doesn't break anything on your end ?

[2018-01-19 13:10] yaacov commented on #163
Nice :-)

[2018-01-19 13:13] meisterlampe commented on #163
@uwburn You're right. With async support, the response delay feature from can easily be implemented handler-functions. I'd say #144 is resolved with this.

[2018-01-19 13:16] meisterlampe commented on #163
I will check next week. Weekend ..hooray :)

[2018-01-19 13:16] yaacov commented on #144
@biancode hi,

belated happy new year :-)

can you check if latest pull requests (#170 #172 #173 #174 #175 and #176) fix this ?

[2018-01-19 13:17] yaacov commented on #144
reference: https://github.com/yaacov/node-modbus-serial/issues/163

[2018-01-19 13:19] yaacov commented on #163
@uwburn after @meisterlampe will give this an OK, and maybe we will here from @biancode, I will make a new version and publish it to npm ...

Thanks all !!

[2018-01-19 16:27] biancode commented on #163
I'll test it.

[2018-01-22 16:53] yaacov commented on #163
Thanks 🌷

[2018-01-27 15:16] yaacov commented on #163
@biancode any news ?

[2018-01-27 20:50] biancode commented on #163
I'm sorry, influenza stop ...

[2018-01-28 09:29] yaacov commented on #163
@biancode fill well soon :stew: (*)

(*) this is a soup imoji

[2018-02-05 08:09] yaacov commented on #144
Fixed by #170 .. #176

[2018-02-05 08:09] #144 closed

[2018-02-05 08:10] yaacov commented on #163
Fixed by #170 .. #176

[2018-02-05 08:10] #163 closed

[2018-02-05 08:15] yaacov commented on #165
Hi, since I do not have a windows machine to check this, and this was raised on an old version, closing ...

[2018-02-05 08:15] #165 closed

[2018-02-05 08:31] yaacov commented on #163
v7.1.3 published 🍰

[2018-02-05 16:57] biancode commented on #163
normal state works - now I start to test some heavy loads

[2018-02-05 17:31] yaacov commented on #163
great !

[2018-02-06 23:09] biancode opened #179 "Modbus exception 4 with 7.1.3"
Hi @yaacov ,

<img width="1101" alt="grafik" src="https://user-images.githubusercontent.com/4369867/35888400-c6140412-0b97-11e8-9f2a-71cb75d5428b.png">

all as before but now exception ... it is a test with positive and negative values

<img width="889" alt="grafik" src="https://user-images.githubusercontent.com/4369867/35889224-efddb880-0b9a-11e8-9aa0-666e9503c249.png">

I will test more the next

[2018-02-06 23:12] biancode commented on #179
FC5 and FC16 works well, but FC6 doesn't

[2018-02-07 05:35] yaacov commented on #179
maybe:
https://github.com/yaacov/node-modbus-serial/blob/master/servers/servertcp.js#L510

should be:
`callback(null, responseBuffer);`
instead of:
`callback(responseBuffer);`
?

[2018-02-07 06:38] biancode commented on #179
Yes, that is the problem.

[2018-02-07 07:22] yaacov commented on #179
fixed by #180

[2018-02-07 07:22] #179 closed

[2018-02-07 07:27] yaacov commented on #179
@biancode 7.1.4 is out 🎆

[2018-02-07 10:59] robertsLando opened #182 "Auto-reconnect?"
Haven't found any information about this, is auto reconnect enabled or shuld it be self made?

[2018-02-07 12:49] yaacov commented on #182
hi, thanks for the issue,

I think you need to check the errors and do reconnect manually if needed.

@biancode do we need self heeling here ?

[2018-02-07 15:16] biancode commented on #182
@yaacov for me self-healing is not the best because mostly there is some to be done before reconnecting or you have to wait a specific time or you have to check some before ...

[2018-02-07 15:18] yaacov commented on #182
@biancode thanks, this is what I think too.

@robertsLando you need to catch the relevant errors and reconnect.

[2018-02-07 15:20] biancode commented on #182
libraries like jsmodbus provide self-healing and queueing and more ...
but that is what I love about modbus-serial - it is more a Modbus API then an all you can eat lib

[2018-02-07 15:30] yaacov commented on #182
@robertsLando the examples dir have examples of how to catch errors.

Here is an example with debug example that will help you find more info about errors:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/debug.js

closing ?

[2018-02-07 15:32] robertsLando commented on #182
Ok thanks @yaacov and @biancode .

[2018-02-07 15:34] robertsLando commented on #182
@yaacov  sorry I forgot to ask: HOw to catch errors? Is there events handlers? client.on('error')?

[2018-02-07 15:36] yaacov commented on #182
here is an example:
[code]
more examples here:
https://github.com/yaacov/node-modbus-serial/tree/master/examples

[2018-02-07 15:37] yaacov commented on #182
you can also use debug mode and see more data about why things fail, and handle it more intelligently:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/debug.js

[2018-02-07 15:39] yaacov commented on #182
ahh ... and also catch connection errors:
[code]

[2018-02-07 15:58] robertsLando commented on #182
Thanks but what if connection drops for any other reason? Should I check that connection is still open with `client.isOpen` and in the case isn't try to reconnect or I get the error from the read and than decide if reconnect or not? This is why I was asking for client events like 'onError' 'onConnected' 'onClose'.

[2018-02-07 17:21] yaacov commented on #182
the `.catch` of the `.connectTCP` should be called.

if `client.isOpen` is false the `.catch` in `client.readHoldingRegisters` should be called.

not?

you should imnplement the `.catch` of `.connectTCP` and  `client.readHoldingRegisters`.

this will all call `.catch` of the `.connectTCP` with different `error` objects.

[2018-02-09 02:13] wuyuliyu opened #183 "Meteor Support？"

[2018-02-09 06:02] yaacov commented on #183
Hi, thanks for the issue.

AFAIK meteor can support npm packages. did you have a specific problem ?
maybe you can ask the meteor guys why they have problem with this package ?

[2018-02-09 11:11] robertsLando opened #184 "Uncaught TypeError: Cannot redefine property: isOpen"
Code:

[code]

[code]

[2018-02-09 12:12] yaacov commented on #184
Hi,

Thanks fot the issue, but without knowing what you I are trying to do it's hard to help.
a. Are you trying to redefine `isOpen`, why ?
b. why do think `onConnect.bind(self)` return a function that can be called with error argument on connection faill ?

[2018-02-09 13:06] robertsLando commented on #184
I'm not tring to refefine isOpen anywhere, I don't understand the error. I have created a class called ModbusReader that handles some modbus read so the `self` and `this` refers to this class. Before reading I check that connection with client is open, if is not open I call the method reconnect that calls setCLient that checks is there is an existing client and if is not opened it try to reopen th

[2018-02-09 14:01] robertsLando commented on #184
Maybe I have understand why this happens. In index.js line 349 you have defined isOpen property inside open method. So when the method is called the second time you try to redefine isOpen property that was already defined.

[2018-02-09 14:06] robertsLando commented on #184
Ok I have fixed this. Just move the define property outside the `.open` method and replace `this` with ModbusRTU.prototype.

[code]

[2018-02-09 14:10] robertsLando commented on #184
#185

[2018-02-09 14:33] yaacov commented on #184
I have tested:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/logger.js

that check for errors and re-connect if needed, and it works fine without the fix, why do you need this fix ?

[2018-02-09 14:42] yaacov commented on #184
merged #185 👍

p.s.
a. I do think you need to check what you are doing more carefully.
look at how the logger example handles the disconnect error, maybe you will find a cleaner way to do what you want.
b. you should give a link to your projects github page, maybe someone can help fix that error :-)

[2018-02-09 14:57] #183 closed

[2018-02-09 14:57] #182 closed

[2018-02-09 14:58] yaacov commented on #184
fixed by #185

[2018-02-09 14:58] #184 closed

[2018-02-09 15:02] yaacov commented on #184
v7.1.5 with #185 is published on npm

Thanks @robertsLando 👍

[2018-02-09 16:57] robertsLando commented on #184
look at how the logger example handles the disconnect error, maybe you will find a cleaner way to do what you want.

@yaacov what do you mean? Sorry, I don't understand :(

[2018-02-09 17:31] yaacov commented on #184
the logger.js example does what you are trying to do without using `isOpen` or `bind` , if you need to use this functions you may be doing something wrong ( or not ... ) I didn't see your complete code :-)

[2018-02-10 08:13] yaacov commented on #164
I think this is closed :-)

[2018-02-10 08:13] #164 closed

[2018-02-12 07:28] robertsLando commented on #184
@yaacov I need to bind the callback function to the context of the main class to be able to access the class attributes once the callback function is triggered. I could did this without using `.bind` just by writing the function locally like `.connect(function(err){})` but as I use it more times I have choose to create a private function inside the class.

In logger example you check the error tha

[2018-02-12 11:02] robertsLando opened #187 "Set a bit of an holding register"
I have been unable to find a modbus TCP server/slave with FC 22 and 23 implemented so far. The goal of FC22 is to be able to write to holding registers single bit as in the PLC world for example %MW1.1

Any hint if it already exists or I will have to implement this myself ?

The alternative is to implement it by creating a function like 'setRegisterBit(reg, bitIndex, bitValue, callback)` that make

[2018-02-12 12:00] yaacov commented on #187
we currently support:
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L310
https://github.com/yaacov/node-modbus-serial/blob/master/servers/servertcp.js#L109

I am not against supporting extra FC's, you are welcome to add a pull request that adds this functionality.

[2018-02-12 13:10] robertsLando commented on #187
FC 22 is really poorly supported so I think I will go for the second alternative.

[2018-02-12 13:10] #187 closed

[2018-02-27 11:30] Athiththan opened #188 "CRC error on readInputRegisters"
I have been started working on reading multiple input registers from energy meters. I am getting an error on CRC check Failed when connecting and reading Input Registers ... (Still a beginner)

What will be the issue

please help me, thanks in advance

[2018-02-27 11:35] yaacov commented on #188
Hi, thanks for the issue,
Can you post the code that fails ?

[2018-02-27 11:38] Athiththan commented on #188
setInterval(() => {
    master.readInputRegisters(config.Address, config.Length, (err, data) => {
        if (err)
            console.error(colors.red.bold("Modbus Read Input Registers Error | Exception: " + err));
        else {
            console.log(data);
        }
    });
}, timeOut.timeout);

this is the part of the portion i am working on it

[2018-02-27 11:39] yaacov commented on #188
where did `master` come from ?

[2018-02-27 11:40] Athiththan commented on #188
const modbusSerial = require('modbus-serial');
const master = new modbusSerial();
master.connectRTU(config.Port, {
    baudRate: config.BaudRate,
    dataBits: config.DataBits,
    stopBits: config.StopBits,
    parity: config.Parity
});

//stopBits: config.StopBits
//rtscts: true

master.setID(config.SlaveID);

[2018-02-27 11:43] yaacov commented on #188
try `connectRTUBuffered` instead of `connectRTU`

[2018-02-27 11:46] Athiththan commented on #188
if i use `connectRTUBuffered` it outputs none

[2018-02-27 11:49] yaacov commented on #188
do you have good readings using other modbus client ?

[2018-02-27 11:52] Athiththan commented on #188
Yes the same code worked for 2 other energy meters from another vendor. This meter is different from the others 2 so i tried all the possible ways to connect to it. But it throws me the Exception of CRC failed

[2018-02-27 11:58] yaacov commented on #188
sounds like the meter is faulty

[2018-02-27 11:59] Athiththan commented on #188
or is it regarding any bit arrangement

[2018-02-27 12:12] Athiththan commented on #188
Thank you ... for the quick responses bro

[2018-02-27 12:12] #188 closed

[2018-03-05 21:41] biancode opened #190 "serialport 6.1.1 works much better on Mac"
Hi yaacov,

serialport 6.1.1 works much better on Mac for me - maybe you find some time to upgrade.
v6.0.5 has some problems on macOS

cya
Klaus

[2018-03-06 10:16] yaacov commented on #190
:+1:  I will look at it next weekend.

Can you check if using 6.1.1 "just work" , so we can just update package.json ?

[2018-03-06 10:48] biancode commented on #190
Yes, I'll check it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 14:13] biancode commented on #190
I got an information to test more with windows and the serialport list of ports.

[2018-03-12 15:08] bluetiger30 opened #191 "how to close all tcp Clients"
Hello,
is there a function that can close all TCP clients instead of using `client.close() for each clinet ?

[2018-03-12 15:10] yaacov commented on #191
Hi, thanks for the question :+1:

I do not know of one.

[2018-03-12 19:32] #190 closed

[2018-03-12 20:14] yaacov commented on #191
Closing ...

[2018-03-12 20:14] #191 closed

[2018-04-16 12:54] vasukumar169 opened #198 "Node environemnt error for version 6.10.3"
Hi,

I am unable to setup the environment on the version 6.10.3.

It is working fine on 8.x version.

Could you tell , will this package supports 6.10.3 version or  it only supports 8.x version.

[2018-04-16 13:02] yaacov commented on #198
I do not know, currently we only check against v9.8.0,
I do not know of any reason it will not work with v6.x,
If you find the reason for it not working, please comment here, so we can fix it.

[2018-04-26 10:30] vasukumar169 opened #199 "Node environment error for version 7.10.0"
Hi,

I am unable to setup the environment on the version 7.10.0.

It is working fine on 8.9.4 version.

I am also attaching the screen shot for your reference in windows.

![image](https://user-images.githubusercontent.com/26855810/39300647-0610d346-496a-11e8-9fd0-82284968e6cc.png)

I am also attaching the screen shot for your reference in Linux.

![image](https://user-images.githubusercontent.com

[2018-04-26 15:14] yaacov commented on #199
Thanks !
I hope to look at it this weekend, if you find out more about this, please comment here.

[2018-04-26 15:16] yaacov commented on #198
looks like #199

[2018-04-26 15:30] yaacov commented on #198
closing, duplicate of #199

[2018-04-26 15:30] #198 closed

[2018-04-27 03:12] vasukumar169 commented on #199
I just install v6.10.3 as well, it also shows same error as it was earlier, I am also attaching my piece of code.

![image](https://user-images.githubusercontent.com/26855810/39342687-bee286da-49f6-11e8-9289-410456d45abd.png)

The below code is working fine only in v8.9.4

/******************CODE BELOW *********************************/

var ModbusRTU = require('modbus-serial');
var client = new M

[2018-04-27 12:06] yaacov commented on #199
From the logs it looks like your problem is the binaries of serialport you are using.

It looks like serialport should work with your setup:
https://www.npmjs.com/package/serialport#platform-support

Try to remove all node-modules and then re-install using different node versions, it looks like you installed using one node version, and try to run using different one.

[2018-05-02 03:36] #199 closed

[2018-05-02 09:01] virgo888 opened #200 "synchronous style"
how to use modbus-serial with synchronous style ?

[2018-05-03 02:00] virgo888 commented on #200
Hi, thank you for your answer.

`const ModbusRTU = require("modbus-serial");
var client = new ModbusRTU();
client.connectRTUBuffered("COM3", { baudRate: 9600 });
var async = require("async");

setInterval(function(callback) {
    async.parallel({
            async_modbus_1_1: function(clbk) {
                client.writeFC3(1, 4103, 2, function(err, data) {
                    console.log(data);

[2018-05-03 06:13] yaacov commented on #200
Hi,

Serial modbus is serial ( requests are done one **after** another ) .

**You can not do parallel requests on a serial connection,** not even on a serial over TCP connection.

You have to wait for an answer ( or timeout ) of first request before you can send the next one.
[ It is not advised (*), but you can do this on a TCP connection but never on serial one. ]

(*) the hardware may be implem

[2018-05-03 06:17] yaacov commented on #200
example of calls waiting for first one to finish, in this example `readCoils` is called only after `readRegisters`  is finished.

[code]

[2018-05-03 07:02] virgo888 commented on #200
Thanks yaacov for your answer,

but I have an example like this :

[code]

the code runs fine with the async parallel, but I dont understand, can you tell about that, I'm still learning about the modbus and the nodejs. sorry if I ask a lot. thanks before.

[2018-05-03 12:00] yaacov commented on #200
modbus-rtu is a different pacage :-)
the example above is not using modbus-serial :-)

you should ask the modbus-rtu people.

[2018-05-04 04:37] virgo888 commented on #200
So modbus-serial package can't create like that structure code ? using async?

[2018-05-04 08:45] yaacov commented on #200
No, you can look at the examples to see how to use modbus-serial:
https://github.com/yaacov/node-modbus-serial/tree/master/examples

The code you pasted above does not use modbus-serial.

[2018-05-07 01:30] virgo888 commented on #200
Ok, thanks yacoov, for your help.

[2018-05-07 01:30] #200 closed

[2018-05-17 21:32] cpfarher opened #201 "problem with modbus-serial: SerialPort is not defined"
Hello, I am trying to use modbus-serial but I get an error when I try to use on chrome browser:

I get VM1320:1 Uncaught ReferenceError: SerialPort is not defined on line: ./node_modules/modbus-serial/apis/connection.js?5f16
this._port = new SerialPort(path, options);

node v10.1.0
"modbus-serial": "^7.2.2",
"serialport": "^6.2.0",

If I used it in bash console with node command, all was ok...
any

[2018-05-18 06:59] yaacov commented on #201
Hi, thanks for the question.

The `modbus-serial` package use the `serialport` package  [[1](https://www.npmjs.com/package/serialport)] that does not work on browsers [[2](https://www.npmjs.com/package/serialport#platform-support)].

If you want, you can add support for using `browser-serialport` package  [[3](https://www.npmjs.com/package/browser-serialport)] , it should work exactly as the node

[2018-05-18 11:39] #201 closed

[2018-05-23 00:39] Simple-yzp opened #202 "How to set parity？"
hi,How to set parity？I did not find the relevant documentation，think you

[2018-05-23 02:23] yaacov commented on #202
Hi, thanks for the question.

modbus serial use serialport [1] for seria comunication, it passes to serial port the `openOptions` hash [2].

For example:
[code]

[ defaults are: 9600,8,N,1 ]

[1] https://github.com/node-serialport/node-serialport
[2] https://node-serialport.github.io/node-serialport/global.html#openOptions

[2018-05-23 11:14] yaacov commented on #202
@Simple-yzp
If it worked, you can close this issue, if not we can look at it in more detail ...

[2018-05-25 07:43] #202 closed

[2018-05-25 10:57] surbhigup commented on #107
I'm trying to connect Modbus Via GPIO ttyAMA0.
But it gives modbus.c:6:20: fatal error: modbus.h: No such file or directory
compilation terminated.
please suggest me what can I do.

[2018-05-25 11:13] yaacov commented on #107
@surbhigup hi, thanks for your comment,
can you give more content, what are you trying to do, why and how ?

This library has no files named `modbus.c` or `modbus.h` it also does not use the `c` programming language, so from your comment it looks like your error has no connection to this library.

Please give as much information as you can about what you are doing, so we can try to help.

[2018-05-25 11:27] surbhigup commented on #107
hey yaacov
Actually i want to implement RS485 via Modbus RTU protocol interfacing with Raspberry PI3 model. I am using libmodbus library but didn't get any success. Could you suggest me what i need to use by hardware side as well code side.

[2018-05-25 11:33] surbhigup commented on #107
I want to do this by serial ports of Raspberry Pi. Any more information needed?
Please suggest me!!

[2018-05-25 11:39] yaacov commented on #107
a. the raspberry will be the master ?
b. what controllers are you using ?

The easiest way to connect raspberry to a rs485 line will be using a usb to rs485 connector:
https://www.sparkfun.com/products/9822
https://www.ebay.com/sch/i.html?_nkw=USB+to+Rs485

well you are asking here ... this library is called `node-modbus-serial` and it requires node-js.

[2018-05-25 11:50] surbhigup commented on #107
ya raspberry is the master.
I am simply using MAX485 IC for RS485 PORT not anything else.

I got success by usb to rs485 connector but i want it to do with GPIO pins.
By using node-modbus-serial , will i get success?
There is no library other than this one?

[2018-05-25 11:52] surbhigup commented on #107
I want to read the holding registers of the slave.

[2018-05-25 12:09] yaacov commented on #107
max485 requires manual direction control view pins de and re, how do you control this pins ?

`node-modbus-serial` does not support manual direction control (pins RE and DE in max485),
you will need to implement electronics for automatic direction control ( for example here:
https://www.google.com/search?q=max485+direction+control+from+tx ) or add the missing support to the `serialport` library co

[2018-05-25 12:12] philesgilles commented on #107
Have you made the modifications to activate the right serial port on the Pi 3? I had lot of problems using the default mini UART.

=> https://www.raspberrypi.org/documentation/configuration/uart.md

If all is working with an usb adapter, then the problem is the port on the Pi.

Satprod
Philippe Gilles
Sound engineer, Product developer

Think about the planet before printing this mail !

CONFIDENTI

[2018-05-25 12:37] surbhigup commented on #107
@yaacov
Ya MAX485 require manual direction control of DE and RE, but i am not understood with it that how to control it.
I think because of this, didnt get success.
 It is not possible to give only port in the code like dev/ttyAMA0 or dev/serial0 or any thing?
Is it must to add the RE and DE pins.

 I only try the example which is given in libmodbus library.

[2018-05-25 12:40] surbhigup commented on #107
@philesgilles
I did all the modifications which is given in the document
=> https://www.raspberrypi.org/documentation/configuration/uart.md

but cant understand they are right or wrong.

[2018-05-25 12:45] yaacov commented on #107
yes, max485 can not transmit unless you force the re and de pins.

yes, you can give only rx and tx from the rpi, but only if you implement the electronics that control the re and de pins for you automatically, like the usb modules do.

[2018-05-25 13:31] surbhigup commented on #107
@yaacov
OK I will do it.
https://electronics.stackexchange.com/questions/286263/is-there-any-way-to-use-half-duplex-rs485-without-using-a-dedicated-controller-p
 Is it work?

[2018-05-25 14:04] surbhigup commented on #107
@philesgilles
 serial0 -> ttyS0
 serial1 -> ttyAMA0

My Rpi shows this configuration of serial ports.
They are right ?

[2018-05-29 18:56] tmsound opened #207 "Feature request: FC 20, 21"
I don't know how many others would want this but I have been running into some hardware that is using FC 20 (read file record) and FC 21 (write file record) to change some pretty important settings.  Aside from that, the coverage you guys already have is awesome.  I pre-apologize if this was an inappropriate place to feature request.

[2018-05-30 06:51] yaacov commented on #207
Hi, thanks for the issue.

I do not think I will have time for that in the next few weeks, If someone wants to take this It will be nice.

@tmsound
If you take this, please comment here.

[2018-05-31 12:19] dushyantbangal opened #208 "[Question] Close connections or keep them open?"
I'm gathering data from a couple of devices every minute.

Right now I connect to all the devices when the script starts, and then call the read functions every 60 seconds.
I'm not closing the connection, I'm reusing the same connection.

Should I be closing connections on every read and then opening again the next minute?

[2018-05-31 21:00] yaacov commented on #208
Hi, thanks for the question :+1:

That depends on the specifics ...
a. Open and Close a connection may take resources, so it may be better not to close/open unless we have an error that require a reconnect.
b. On the other hand, an open connection blocks other masters from queering the device (if using TCP) so closing the connection each time may free resources.

You should check the specific way

[2018-06-04 09:49] dushyantbangal opened #210 "Server is not processing parallel requests"
I just started the example server

I created a client that sends more three `readHoldingRegisters` requests.

However, on the server, some requests are not being received. This is not an issue with the client as I have tested it with a simulator and it works fine.

I've just put multiple requests in the example client logger.

[code]

On the server, the `getHoldingRegister` does not get executed f

[2018-06-04 09:53] #208 closed

[2018-06-04 10:40] yaacov commented on #210
@dushyantbangal Thanks for the issue :exclamation:

I will not have time to look into it in the next few weeks, can you try and fix it ?

[2018-06-04 12:16] dushyantbangal commented on #130
@yaacov I'm doing a fix for this.
I'm also comparing the length of response with the number of requested values.
If these don't match, do I:

1. Throw an error message saying "Requested address length and response length do not match"
2. Just send the error to the callback which will respond with Exception 4
3. Both

[2018-06-05 15:40] #130 closed

[2018-06-06 09:50] debevv opened #212 "Different callbacks for FC1 and FC2"
Hi, I noticed that the server library uses the same `getCoil` callback whenever it gets a FC1 or FC2 request.
This is a bit inconvenient when writing a simulator, because one would have two different blocks of memory for coils and discrete inputs, but now there's no way to distinguish (or yes?) which block we want to read from when inside the `getCoil` callback.
So my request would be adding anoth

[2018-06-06 10:01] yaacov commented on #212
Sounds great !, can you make a pull request ?

[2018-06-06 13:48] dushyantbangal commented on #210
@debevv can you give some brief info why it's happening?

[2018-06-06 14:30] debevv commented on #210
The problem lies in servertcp.js:808, inside the socket "data" event handler. The code is assuming that the received data will be always of length 12 (MBAP + PDU), but with OP's client code or this one
[code]
the data sent with requests 2 and 3 is received packed inside a buffer of length 24, which is normal if the time between the two request is short enough.
This line copies the entire chunk (sk

[2018-06-06 14:46] debevv commented on #210
Wait, I forgot that PDU won't be always of 8 bytes, we should read the message length field inside the MBAP and act accordingly.
So, why is the check inside '_errorRequestBufferLength()' forcing a length of 8 bytes?

[2018-06-07 19:13] lucasmellos opened #214 "RTS / CTS"
How can I enable/disable RTS/CTS on RS-485 communication?

[2018-06-08 03:37] yaacov commented on #214
Hi, thanks for the question.

We use node-serialport for serial comunication, youcan pass the options using a options hash [1] while opening connection. You can see the options available in the serialport docs or code [2]. Another option is to set this from outside using some tool like stty [3].

[1] https://github.com/yaacov/node-modbus-serial/blob/master/examples/simple.js#L11
[2] https://github

[2018-06-08 08:20] dushyantbangal commented on #210
Hasn't @yaacov done a fix for similar kind of issue on the client side in the buffered ports?

[2018-06-08 08:44] yaacov commented on #210
@dushyantbangal I do not remember :-) but it's ok to just fix it here ... as needed.

[2018-06-08 17:37] lucasmellos commented on #214
Thanks!

[2018-06-08 17:37] #214 closed

[2018-06-08 18:44] lucasmellos commented on #107
Someone has experienced it with success and has an example of how to use MAX485 chip on ttyAMA0 port?

[2018-06-09 07:51] yaacov commented on #107
using `drain` [1] and `flush` we can know when transmit is ending and control some gpio pin to signal `transmit/receive` to max485, a pull request testing that option is welcome.

[1] https://node-serialport.github.io/node-serialport/BaseBinding.html#drain

[2018-06-13 09:23] #212 closed

[2018-06-22 14:42] pkaz commented on #210
Hello everyone,
From what I have noticed, the client has trouble executing multiple requests the way it is being shown further above.

For me this is the code that worked on the client side:

`let results=[];
results.push(await client.readInputRegisters(0, 12));
results.push(await client.readInputRegisters(20, 2));
results.push(await client.readInputRegisters(28, 12));
results.push(await client.re

[2018-06-22 15:06] yaacov commented on #210
@pkaz nice, liked the await syntax :-)

a. can you make a small runnable example with await (it's cool)
b. your device is tcp/rtu/... ?
c. does it always work with 1 request and start failing on the 2nd request , or is it random, sometimes fails on 3rd, 5th etc ... ?

[2018-06-22 15:58] avnerkhan opened #217 "setID/Address reading"
Hello ,

I have a computer connecting to a TCP/IP connection  and  this TCP/IP connection is connected to by RTU (thru GridConnect) to 1 Modbus slave device.  I want to eventually have multiple slave devices connected to the master, and to be able to read a register from each slave. I was planning to do this by having the slaves have different Addresses (1-247) , and the client.setID() function wo

[2018-06-22 16:16] yaacov commented on #217
Hi, Thanks for the issue,

a. do you have a device that connect directly to tcp, ( to check if the problem is with GridConnect ) ?
b. did you get same problems with `connectTCP` ?
c. can you run with debug on `export DEBUG=modbus-serial` see example [1] and look at the data frame sent [2] , looking for the TCP frame unitID ?
d. do you have some other modbus client to check with ?

[1] https://gith

[2018-06-22 17:39] debevv commented on #210
@pkaz can you try the same example after applying my PR? https://github.com/yaacov/node-modbus-serial/pull/216

[2018-06-23 08:33] V3NK47 opened #218 "failed to install on Windows 7 32bit tablet says npm ERR! Failed at the serialport@6.2.0 install script."
C:\test>npm install modbus-serial
npm WARN deprecated parser-readline@1.0.2: reanmed to @serialport/parser-readlin
e
npm WARN deprecated parser-ready@1.0.2: reanmed to @serialport/parser-ready
npm WARN deprecated parser-regex@1.0.2: reanmed to @serialport/parser-regex
npm WARN deprecated parser-cctalk@1.0.2: reanmed to @serialport/parser-cctalk
npm WARN deprecated parser-delimiter@1.0.2: reanmed t

[2018-06-23 12:30] yaacov commented on #218
Hi, Thanks for the issue,

can you remove the dependency on `serialport` here:

https://github.com/yaacov/node-modbus-serial/blob/master/package.json#L41

and try again, if you do not need serial communication (e.g. tablet with no serial port) it should work.

see: https://github.com/yaacov/node-modbus-serial/issues/88

[2018-06-23 14:39] V3NK47 commented on #218
I am using Panasonic ToughPad Fz G1. It has a USB 3.0 port and I'm using ModbusRTU as the mode for communication.

[2018-06-23 14:46] yaacov commented on #218
From the logs it looks like `node-serialport` fails to install, so first, you will need to install it, take a look here:
https://github.com/node-serialport/node-serialport#installation-instructions
and try to see if you can make `node-serialport` to work.

[2018-06-24 13:39] yaacov commented on #207
@tmsound hi, I'm closing this for now, if you do this, reopen this and link your pull request here ...

[2018-06-24 13:39] #207 closed

[2018-06-24 17:56] yaacov commented on #217
@avnerkhan hi,

I added tests for the server part of this lib to test that it will answer/not answer to the currect unitID: https://github.com/yaacov/node-modbus-serial/pull/223

This has the side effect of testing that the tcp client send the currect unitID downstream. So I do not think the tcp client send the wrong id. You can check the GridConnect and the controller docs to see if you are missi

[2018-06-24 18:00] yaacov commented on #210
@dushyantbangal @debevv hi, is this issue closed by #216 ?

[2018-06-24 18:02] yaacov commented on #218
@V3NK47 from your errors, you are missing:

https://github.com/nodejs/node-gyp#on-windows
https://github.com/nodejs/node-gyp#installation

[2018-06-24 18:41] debevv commented on #210
According to my tests it can be closed, but it would be even better if @pkaz and @dushyantbangal could test it against their applications/snippets as final confirmation

[2018-06-24 19:51] yaacov commented on #210
:+1:

p.s. I think @pkaz problem is not connected to the server side, and he didn't say if he use tcp or rtu to connect to his controller ... , @pkaz ?

[2018-06-25 07:18] V3NK47 commented on #218
Thanks for the solution. Let me try and get back.

[2018-06-25 11:04] dushyantbangal commented on #210
Hi, Sorry just saw the thread. I'll test it today and see if its working in my case

[2018-06-25 12:01] dushyantbangal commented on #210
@yaacov @debevv
@pkaz is saying

So I think he was proposing a solution; he didnt face the issue with his script.

However, his solution includes `await` so technically those are serial requests, and not parallel.

[2018-06-25 12:03] dushyantbangal commented on #210
I've tested the issue with my script, and it looks like its been fixed!

[2018-06-25 12:03] #210 closed

[2018-06-25 12:10] dushyantbangal commented on #218
I've faced installation issues with `serialport` on Linux and Windows (even without `npm install modbus-serial`). Looks like you haven't installed python or don't have the `PATH` set to its location.

Installing `node-gyp` properly and then `npm install serialport --build-from-source` always worked for me.

[2018-06-25 12:16] yaacov commented on #210
@dushyantbangal Thanks :+1:

@pkaz I hope to have time next weekend to look at your issue ( it looks different than this one ) if you think I forgot ... just open an issue specific to the problem you are seeing.

[2018-06-25 15:22] avnerkhan commented on #217
Ok, thank you!

[2018-06-25 15:22] #217 closed

[2018-06-26 05:16] dushyantbangal opened #224 "Timeout Error object does not contain code or errno"
I am not getting an object containing `code` or `errno` in case of timeout.

When I `console.log(err`) in case of timeout, heres what I get:
[code]

In this case, both `err.code` and `err.errno` are `undefined`, however, the examples suggest that they should be `ETIMEDOUT`

In case when the server is not available, following is the output of `console.log(err)`
[code]

I believe, timeout error is s

[2018-06-26 05:20] dushyantbangal commented on #224
I think it is giving out `err.message` along with stacktrace instead of the whole `err` object.

[2018-06-26 05:34] yaacov commented on #224
Thanks :+1:

I hope to have time to look at it this weekend, if you find a fix before I find one, please open a pull request.

[2018-06-26 11:09] dushyantbangal commented on #224
I was thinking about the same thing. Can you just point me where I should look? I couldn't find `ETIMEDOUT` anywhere in the code.

[2018-06-26 12:17] yaacov commented on #224
The general direction is here :-)

https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L46

[2018-06-26 12:43] #224 closed

[2018-06-26 13:07] V3NK47 commented on #218
Yes Worked very well. Thank you for the support.

[2018-06-26 13:07] #218 closed

[2018-06-26 13:20] pkaz commented on #210
So I will try to answer everything, ( I am really sorry for the long weekend )...
@yaacov

- a. a sample client would go like the code below.
- b. It connects to a Serial over TCP/IP (encapsulated) device.
- c. If I try to read Input Registers on multiple requests, it always fails on the second and never answers.

### Sample client

[code]

@debevv
I will pull the new version that got merged and t

[2018-06-27 05:11] dushyantbangal commented on #210
@pkaz, It might be possible that whichever device you are reading from does not allow more than 20 registers in one request. I have come across some meters that limited reading 40 registers in a single request. So I dont think that is fixable from this side, its the manufacturer.

Regarding the parallel issue, it is possible that your TCP-RTU gateway is messing up as thinking its all a single requ

[2018-06-27 05:36] dushyantbangal commented on #224
I think that is about the connection request timed out; my issue was about transaction timed out.
But looks like both are related as the `timeout` event is sending error without `code` or `errno`
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L98

[2018-06-27 10:31] yaacov opened #226 "Continue #210"
Continue discussion from https://github.com/yaacov/node-modbus-serial/issues/210

cc// @pkaz @dushyantbangal @debevv

**Issue**:
a. a sample client would go like the code below.
b. It connects to a Serial over TCP/IP (encapsulated) device.
c. If I try to read Input Registers on multiple requests, it always fails on the second and never answers.

**Sample client**:
[code]

@debevv
I will pull the n

[2018-06-27 10:32] yaacov commented on #226
Coping  @dushyantbangal  commant https://github.com/yaacov/node-modbus-serial/issues/210#issuecomment-400544602

@pkaz, It might be possible that whichever device you are reading from does not allow more than 20 registers in one request. I have come across some meters that limited reading 40 registers in a single request. So I dont think that is fixable from this side, its the manufacturer.

Regar

[2018-06-27 10:53] pkaz commented on #210
@dushyantbangal Tried it (connectTcpRTUBuffered), the promise never responds... :(  I think I am doing something wrong...

[2018-06-28 07:19] dushyantbangal commented on #210
@pkaz continue this discussion at https://github.com/yaacov/node-modbus-serial/issues/226

[2018-06-28 07:23] dushyantbangal commented on #226
@pkaz, If you have tried `client.connectTcpRTUBuffered`, then I think it might be issue from the TCP-RTU gateway you are using. I would suggest you try it out with a simulator or the `server.js` from the examples.

If everything is working with simulator, then I would suggest the following from my previous comment:

[2018-06-28 13:57] pkaz commented on #226
@dushyantbangal So, I have a ElControl - STAR3 Energy Analyzer behind a MOXA serial2Ethernet gateway. I am not using a simulator, but have an actual device.

The problem is I am kind of new to the field of SCADA and protocols, so I am trying to figure things out as I go. I will try my best to setup a simulation, but it will never be the real thing. So as far as I can I will try to test the client

[2018-07-06 04:55] yaacov commented on #226
Hi all,

Just noticed something, if the controller is connected using serial line (at some point of the way) you should not use parallel requests.

For example, if you have a controller connected via rs485 to some TCP-to-485 converter, even if you use the tcp protocol, you can not do parallel calls, they will just get stuck when the converter try to push them using the rs485 line, because most con

[2018-07-06 08:01] dushyantbangal commented on #226
@yaacov, thats exactly what I had faced once. I kept getting the "expected 2 but got 1" kind of error, and only used to get one of the responses.
I just added a small delay between multiple requests, and it worked. You don't have to wait for the response, but just send the requests with a small delay.
However, this will still depend on how the converters are handling it. There will be some trial-a

[2018-07-06 18:30] avnerkhan opened #227 "Exception Code #1"
Hello ,

I am reading from two types of devices , RS-485 and DIO. They are connected to my server through a hub and they have seperate IPs. I can read either the DIO IP or the RS-485 IP fine in my program, but issues arise when I try to read them both at the same time. Currently, I am putting all the devices that read the RS-485 in one map and all the DIO in another map. I then proceed to read thr

[2018-07-07 07:30] yaacov commented on #227
do some devices of different protocol share the same physical rs485 line at some point ?

[2018-07-07 16:07] avnerkhan commented on #227
Well my laptop is connected to the hub via ethernet. The hub connects both a DIO reader and a RS-485 reader (They both should have modbus capability)with two seperate ethernets. As far as that goes, that is the extent of the connectivity between the two protocols. Also, it might help to add that I am using the "readDiscreteInput" method on the DIO to read the input values, because my DIO device do

[2018-07-07 20:37] yaacov commented on #227
If they have two different IP addresses then it shouldn't happen [ they should not know about each other ] :-(
When you find out what is happening, please comment here or open a pull request if it needs fixing ...

[2018-07-08 17:21] yaacov commented on #227
p.s.

your code looks like this ?

[code]

[2018-07-09 13:42] avnerkhan commented on #227
Works perfectly when I tried creating two clients ,as you suggested. For some reason I didn't think of doing that. Thank you!

[2018-07-09 13:42] #227 closed

[2018-07-09 15:19] vipulpatel1994 opened #228 "no issue"
Sorry for rising here, not getting any option to contact you.
Where exactly can we use this?
I have one modem which can connect to TCP/IP. need to send one hex string(01 04 00 01 00 01 60 0A) to get data after connection. able to connect but not able to send back hex can you help me out.

[2018-07-10 07:01] yaacov commented on #228
Hi thanks for the issue,

This vary from device to device, you will need to consult with the modem manual, and the docs for the software you use.

[2018-07-12 17:25] paradigminversion opened #229 "UnhandledPromiseRejectionWarning"
I'm using:

v10.2.1

Linux beaglebone 4.4.54-ti-r93 #1 SMP Fri Mar 17 13:08:22 UTC 2017 armv7l GNU/Linux
"modbus-serial": "^7.2.3"

After about a minute of polling a device, I get the following error:

[[17:11:23.651]] [ERROR] (node:9974) UnhandledPromiseRejectionWarning: #<TransactionTimedOutError>
[[17:11:23.657]] [ERROR] (node:9974) UnhandledPromiseRejectionWarning: Unhandled promise rejection.

[2018-07-12 18:42] yaacov commented on #229
@paradigminversion Thanks for the issue !

[2018-07-17 07:32] vipulpatel1994 commented on #228
Thanks a lot for help @dushyantbangal and @yaacov  . for now done with custom code. I will surely try this.

[2018-07-20 21:02] #229 closed

[2018-07-20 21:04] paradigminversion commented on #229
Resolved...It was a re-entrancy issue on my serial port handle.  It works now that I protect it with a semaphore.

[2018-08-14 09:59] yaacov commented on #228
:smiley:

@vipulpatel1994 closing. feel free to open a new issue if needed.

[2018-08-14 09:59] #228 closed

[2018-08-22 17:53] avnerkhan opened #230 "Ping rate on discreteInputs"
Hello,

I have a program written that connects to various clients and pings machine connected to these clients at a certain rate. One of these clients is a DIO device in which I have to read the discrete input register (FC=02 , client.readDiscreteInput()). If I ping the machines anywhere from 1-30 seconds, the DIO device reads fine. However, if I ping at 40-60 seconds, then I receive a "Port not o

[2018-09-07 20:47] jangwonsuh opened #231 "Writing to Modbus server with Buffer instead of Integer value"
Hi,

I was wondering if you can add a feature where you can use a Buffer as an argument for the writeRegisters() function instead of an integer value? I am currently storing Strings, Floats, Longs, and other data types in the Modbus server. I can easily convert them to Buffer values. however, the writeRegister() function only takes in Uint16 values and converts that back to a Buffer value, which s

[2018-09-07 20:50] yaacov commented on #231
@jangwonsuh tanks for the issue.

Can you make a pull request adding that feature ?

[2018-09-09 07:53] behi88 opened #232 "Problem with timeout in modbusTCP client"
hello
I have a problem with timeout.
when I add time out to my client modbus TCP no matter in the device answered or not I always receive timeout here is my code:

client.setTimeout(5000);
client.setID(1);
client.connectTCP(IP, {port: 502}).catch (function () {});

setInterval(function()
{
    client.readHoldingRegisters(0, 10, function(err, data)
	{
		if (err)
		{
			console.log('SID:('+client.ge

[2018-09-09 08:13] yaacov commented on #232
@behi88 Thanks for the issue !

I will look at it, but I will not have lots of time in the next few weeks.

a. If you find the problem, please comment here with the details you find out.
b. If you find the problem and fix it, please make a pull request with the fix.

Thanks

[2018-09-09 08:37] behi88 commented on #232
#yaacov I think I found the problem maybe I am wrong but I could not find Timeout Cancel for TCP or other Protocols the timeout Cancel is only available in Serial mode.

[2018-09-09 08:45] yaacov commented on #232
Thanks, some info:

We have **two** timeout:

1. for all ports , using js `setTimeout`:

https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L174
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L245

2. only for tcp, using tcp ports internal timeout:

https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L46
https://github.com/yaacov/node-modbus-

[2018-09-09 09:10] behi88 commented on #232
I think this is it:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L46
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L98
there is no 'clearTimeout' on data receive
it will take me a while to figure the code out and pin point where to insert it
thanks for info.

[2018-09-11 12:19] behi88 commented on #232
sorry @yaacov there was a mix up with salve device and your codes are great.
please close the topic.

[2018-09-12 10:50] behi88 opened #233 "Using C701 UDP protocol"
Hello @yaacov
I try to use C701 Protocol but there was no documentation or example.
so actually I try to figure the thing out by looking as source comments.
I use every simulator like 'modbus toolbox' to connect to a slave as UDP.
but there was no connection. I use "wireshark"  & "Comm Operator" to analyze the packets but the connection result was not UDP it was some kind of TCP but Broken!
I used

[2018-09-12 10:55] yaacov commented on #233
@behi88 hi, C701 is a proprietary protocol, and currently I have no machine that speaks it, to check if it works or not ...

It was built for specific use case and since I have no issue on that specific machine I do not want to change it.

What type of machine you want to connect to ?

[2018-09-12 10:59] behi88 commented on #233
I use RPI as master and a 'modbus toolbox' software on windows PC.
I also try to analyze packets with "wireshark" & "Comm Operator" software.

[2018-09-12 11:03] yaacov commented on #233
C701 is not exactly modbus (it's a proprietary dialect), so it should not connect to a regular modbus client ...

[2018-09-12 11:04] behi88 commented on #233
is the protocol UDP? am I using it right? I just replace .connectTCP with .connectC701. do I have to add anything else?

[2018-09-12 11:06] yaacov commented on #233
I do not remember, it was a lot of time ago ... :-)

[2018-09-12 11:07] behi88 commented on #233
OK thanks Great code bytheway.

[2018-09-12 11:08] #233 closed

[2018-09-13 01:15] lphquy opened #234 "Error: read/write function putted into an Infinite Loop"
here is my code to read a discrete input by ModbusRTU:

/* ============================================*/
function read_DI1() {
    client.setID(1);
    console.log('setID completed!');
    client.readDiscreteInputs(0, 1, function(err, data) {
        if (err) throw err;
        else {
            var DI1_callback = data.buffer.readUInt16BE();
            console.log(DI1_callback);
        }
    }

[2018-09-13 05:02] yaacov commented on #234
Hi, thanks for the issue.

Can you try something more full, like the examples in :
https://github.com/yaacov/node-modbus-serial/blob/master/examples/simple.js
https://github.com/yaacov/node-modbus-serial/blob/master/examples/logger.js

And see if you get more info ?

[2018-09-14 02:42] lphquy commented on #234
Hi, thanks yaacov so much!
My code is out of loop because of the "client.close()". So thank you, but, I still faced with the another stuff:
"The timeout error"
![image](https://user-images.githubusercontent.com/32866898/45526645-3006d680-b802-11e8-970b-759c1c311f3a.png)

here is my code:

//=================================================//
var ModbusRTU = require("./node_modules/modbus-serial/in

[2018-09-14 04:47] yaacov commented on #234
It looks like the device does not answer after timeout ( you set it to 2sec )...
or it may answer with corrupt data ...

a. try removing/changing timeouts -
see line `client.setTimeout(2000);`

b. if you can listen to the line, try to understand what is sent to device and if device answer.

[2018-09-14 08:44] yaacov commented on #234
a. You can try to use the debug mode, to see if the device returns something by setting this environment variable [1]:
[code]

b. You should also check your wiring / settings  / jumpers on the device ... maybe it has some settings to not answer or it need some jumper to be in some setting.

c. If you have some connection RS485 <-> RS232 or <-> usb you should also check you use it currectly.

[1] h

[2018-09-25 19:53] behi88 opened #235 "Problem with Modbus Ascii Protocol"
Hello @yaacov  i find a problem to read Modbus ASCII.
actually all of of FC1 - FC2 - FC3 and FC4 have problem reading received data (not sending request).
my program is simple:

`var Modbus = require("modbus-serial");
var client = new Modbus();
client.setTimeout(5000);
client.setID(1);
client.connectAsciiSerial("/dev/ttyUSB0",
{
	baudRate: 9600,
	databits: 7,
}).then(function ()
{
	client.readHold

[2018-09-25 21:07] yaacov commented on #235
Thanks :+1:

I will look at it, but I will not have lots of time in the next few weeks,
If you find more info, or have a fix, please comment here.

[2018-09-26 11:15] behi88 commented on #235
I find the Problem is from
https://github.com/yaacov/node-modbus-serial/blob/master/ports/asciiport.js

line 162 : modbus.emit("data", _data);

could you help me? where this ".emit" referred to?

if I commented this line there will be no answer from client modbus

[2018-09-26 12:29] yaacov commented on #235
When `"data"` event is emitted in line 162 it calls this function with `_data` as the parameter:
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L235

[2018-09-26 12:33] behi88 commented on #235
thanks @yaacov
I think I found it!
there is a mix-up in read buffers, I think you should mix 2 ASCII registers in to one binary for decode
Let me be sure then I will post the result here.

[2018-09-26 12:40] yaacov commented on #235
@behi88 Thanks, when you get it to work, please make a pull request with the fix :+1:

[2018-09-27 09:12] behi88 commented on #235
@yaacov I found the problem.
in ASCII mode because the byes are transfer in ASCII codes so every 2 ASCII character represent one byte in Hex so finally after changing ASCII to binary at the end you should divide byte count (Buffer[2]) by 2.
first I assume you forget to convert ASCII array to binary buffer so i implant a code in https://github.com/yaacov/node-modbus-serial/blob/master/ports/asciipo

[2018-09-27 10:14] yaacov commented on #235
Thanks !

a. the function that translate ASCII to RTU is here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/asciiport.js#L50

b. it is called here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/asciiport.js#L153

c. The buffer size should be halved here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/asciiport.js#L53

[2018-10-15 14:51] #234 closed

[2018-10-16 13:50] mainakae opened #237 "Typescript definitions for ServerTCP"
Hi!

I'm working on a project, using Typescript, and have found your library to offer some degree of integration with the TS language.

I've taken the liberty of making some changes to the existing index.d.ts file and adding definitions for ServerTCP (which was lacking).

If you are interested, I can make a PR to update the library!

Regards,
Pedro.

[2018-10-16 17:06] #237 closed

[2018-10-18 08:04] dushyantbangal opened #240 "read/write fail after reconnecting RTU"
I am using a RS485-USB converter to connect to meter.
I am on Windows 10, node 8, latest package version from npm.

I have a simple write command followed by a read command, both wrapped in a `setInterval`
Before the commands, I check if the port if open or not. If its not, then I start reconnection. The connection is retried every 1500 ms.

If I unplug the converter and plug it back once it start

[2018-10-18 10:11] yaacov commented on #240
@dushyantbangal Thanks :+1: , I hope to have time to look at it this weekend, but I have very little time ...
If you can investigate more / find a solution it will be great.

[2018-11-06 10:23] w4tsn opened #241 "Uncaught TypeError: "value" argument is out of bounds"
I'm implementing a TCP server using this library. When I'm trying to read any registers from e.g. 0 to 200, requesting 200 registers, a request buffer overflow is thrown and uncaught. This causes my application to crash, since the error is thrown outside of my control flow within this library. My vector of request methods is thus never called.

I identified a solution. Is it desired that I file a

[2018-11-06 12:53] yaacov commented on #241
a. Yes :+1:
b. This is tricky since you should not break the Serial RTU struct that is of UInt8 length.

[2018-11-08 17:30] #241 closed

[2018-11-10 14:21] ericbarch opened #243 "Module fails to build via TypeScript"
Greetings!

It appears that the latest release (7.4.1) no longer compiles properly under TypeScript. My projects that use modbus-serial now fail with:

`node_modules/modbus-serial/ServerTCP.d.ts:1:8 - error TS1192: Module '"events"' has no default export.`

Note that I am actually using ModbusRTU with the default export: `import ModbusRTU from 'modbus-serial';`.

[2018-11-10 14:30] yaacov commented on #243
@ericbarch can you look at:

https://github.com/yaacov/node-modbus-serial/pull/239#issuecomment-430650820

Is it related to your problem ?

[2018-11-10 14:47] ericbarch commented on #243
Just opened PR #244. This should fix it 😃

[2018-11-10 14:48] ericbarch commented on #243
I did take a look at #239, but I am using the default export (which works fine). The issue reported here is related to incorrect syntax of an ES6 import via TypeScript.

[2018-11-10 15:00] yaacov commented on #243
closed via #244

[2018-11-10 15:00] #243 closed

[2018-11-21 20:16] podarok opened #245 "TIme out when reading"
Hi.
I was using modbus-serilal in node-red

[code]

Error I'm getting
[code]

Do you have any ideas why it is stopped working.

Hardware
SDM630
HF2211 (modbus to wifi bridge) ( 192.168.1.7 in the code)
raspberry pi 3b+

[2018-11-22 07:55] podarok commented on #245
By removing it I'm getting only
[code]

Which means
[code]
never runs into .then function

[2018-11-22 09:05] podarok commented on #245
Sorry, false alarm
SDM630 needed to hard reboot to get modbus working again ((((

[2018-11-22 09:05] #245 closed

[2018-12-10 13:16] gabrielpereirapinheiro commented on #240
I'm having the same problem ! Someone find the soluction and can asnwer here  ?!?

[2018-12-10 13:17] gabrielpereirapinheiro commented on #240
I'm having the same problem !
Someone find the solution and can answer here ? Thanks

[2018-12-10 16:18] yaacov commented on #240
@dushyantbangal  @gabrielpereirapinheiro hi, sorry for not adapting ...

p.s.

looking at the example code from https://github.com/yaacov/node-modbus-serial/issues/240#issue-371407616

can you do a
`setTimeout(write,5000);`
in the end of `connect` and in the end of `read`
instead of one:
`setInterval(write, 5000);`
in the end of `connect`

It will not fix the problem ... but one it will be one les

[2018-12-14 13:45] gabrielpereirapinheiro commented on #240
At really my problem is :  I'm using the library in raspberry pi to read data from a sensor and always the program stop reading in different times after start.

[2018-12-20 11:30] srinivasyl commented on #64
I'm able to ping IP of Modbus PLC but, I'm not able to connect from the following script

[code]

the script throws the following error
" UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: connect ECONNREFUSED 192.168.9.2:502"

help me to solve this error

[2018-12-20 14:52] yaacov commented on #64
Hi, @srinivasyl , can you try connect using some other tool ?
Maybe your device listen on some other port ? maybe your device does not answer to read holding registers, it can be many things ...

[2018-12-26 04:38] srinivasyl commented on #64
I've used Modbus pal simulator
if I run Modbus pal in my system(IP: 127.0.0.1, PORT:502) the script was able to connect, read and write to registers but, If Modbus pal is running in the different machine it, then the script was unable to connect.
Is that network issue?

[2018-12-26 07:08] yaacov commented on #64
try connect with the script from local machine ( like you did with the pal simulator ), if it also works, then it is probably network issue.

[2018-12-28 11:36] tizl1234 opened #247 "FC16 handling and Remote Address"
Hi,
I have two questions:
 1) How can I handle FC16 on modbus TCP server? If I use such code [example](https://jsfiddle.net/tizl1234/5ofn1ytx/3/) I receive values one by one. It's not apliable in my case. It would be better if i could receive values in array format. Maybe there is a way to do that in this module?
2) How can I receive remote address of slave device in my serverTCP vector?

Thank yo

[2018-12-28 12:13] yaacov commented on #247
No, the function that implement multiple write is here, it just loop over the values and call the single-set method:
https://github.com/yaacov/node-modbus-serial/blob/master/servers/servertcp_handler.js#L602

Multiple reads **are** implemented, you can look at the code that handle multiple reads here:
https://github.com/yaacov/node-modbus-serial/blob/master/servers/servertcp_handler.js#L221
https:

[2019-01-15 17:12] buuuudzik opened #248 "How to catch CRC errors"
Hello,

I have from time to time such error:
Error: CRC error
    at RTUBufferedPort.<anonymous> (C:\Users\me\Desktop\inverter\node_modules\modbus-serial\index.js:274:42)
    at RTUBufferedPort.emit (events.js:182:13)
    at RTUBufferedPort._emitData (C:\Users\me\Desktop\inverter\node_modules\modbus-serial\ports\rtubufferedport.js:108:10)
    at SerialPort.onData (C:\Users\me\Desktop\inverter\node

[2019-01-15 17:44] yaacov commented on #248
Hi, thank you for the issue :100:

a - can tou try to call `writeFC3` directly `readHoldingRegisters` is a syntactic sugar around it, see:
https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L467 ?

b - can you check if this issue exist also in the promise systex, e.g. using `.then`, `.catch`,
see for example, here: https://github.com/yaacov/node-modbus-serial/blob/master/examples/bu

[2019-01-15 19:09] buuuudzik commented on #248
Now I am still testing.

2 hours ago I've tried use then().catch(). It logged no error and whole script works without any error. But it is still very dangerous. I must handle this kind of error to know that my solution is error resist;)

This was my change:
`
// old version
const runner = (address, length, callback) => client.readHoldingRegisters(address, length, callback);

        // new version

[2019-01-15 19:45] yaacov commented on #248
a - did you check with `writeFC3` ?

b -

you can check that the `data` payload is valid, if an error happened and you got into `.then` instead of `.catch` you will get none valid data.

p.s.
I looked at the code ( an error prof way to find bugs :-) ) and can not see the where we miss catching the error :-( , if you can find the point where it happen it will be very helpful.

[2019-01-15 20:41] buuuudzik commented on #248
I cannot reproduce now this issue. I think this could be caused by some noise from cable and now maybe there is no noice because whole devices are switched off in the office. I will figure it out;)

[2019-01-18 22:56] emes commented on #118
Would you re-consider making serialport an optional dependency?  Docker images become muuuch larger when serialport needs to be built from source, which is shame when using only tcp.

[2019-01-19 04:55] emes opened #249 "serialport an optional dependency, take 2"
Would you re-consider making serialport an optional dependency? Docker images become muuuch larger when serialport needs to be built from source, which is shame when using only tcp.

[2019-01-19 05:13] yaacov commented on #118
@ems Thank you for this issue :+1:

a - it's still optionals in the code: https://github.com/yaacov/node-modbus-serial/blob/master/index.js#L738

b - I think the only problem is only here https://github.com/yaacov/node-modbus-serial/blob/master/package.json#L41

c- Can you think of a mechanism that will keep the default, **and** let us an option to build leaner containers ?
e.g. `package-no-serial

[2019-01-19 05:30] yaacov commented on #249
Or maybe having two npm packages is a good solution ?!

[2019-01-19 05:32] yaacov commented on #249
and we can remove the debug dependency too ...

[2019-01-19 11:05] yaacov commented on #249
I made a version without serialport :tada: :balloon: :cake:

https://www.npmjs.com/package/modbus-serial/v/7.5.1-no-serial-port.

Note: I will now have to remember to make a `no-serial-port` versions ... will see how that goes :-)

[2019-01-19 12:02] emes commented on #249
wow.  that's awesome.  modbus-noserial! 🎂 😄

[2019-01-19 16:32] yaacov commented on #249
closed by #250

[2019-01-19 16:32] #249 closed

[2019-01-19 16:37] yaacov commented on #226
I assume the problem was "the controller is connected using serial line (at some point of the way) you should not use parallel requests.", and once all requests are done serially, the problem is fixed ?

Closing for now,

[2019-01-19 16:37] #226 closed

[2019-01-19 16:40] yaacov commented on #230
Hi @avnerkhan, sorry for the very late response,  is this fixed ?

[2019-01-21 09:54] dushyantbangal commented on #230
@yaacov I have come across some PLCs that close the connection after n number of seconds of inactivity. The number is configurable in some cases.
@avnerkhan if by "all other interfaces" for mean the devices other than the DIO (and not holding regs on DIO), I think its an issue from the DIO side. I think your DIO device is the one that is closing the connection after 30 seconds of inactivity. Maybe

[2019-01-22 00:09] sigma-design opened #251 "Is it possible to keep TCP connection open on remote unit response timeout ?"
Hi @yaacov,

Thanks for this package, it helps in establishing remote access to units via Modbus TCP in my case.

So far everything is good, but it seems that the TCP connection is closed on Modbus response timeout while remote TCP/IP is still available - in my case the remote Modbus RTU unit is connected to Modbus TCP gateway via serial port and such timeouts will occur when Modbus RTU unit is di

[2019-01-22 05:57] yaacov commented on #251
Hi, thanks for the issue !

You can try and see what happen with different timeout settings.

ths timeout for tcp (non buffered) is set here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcpport.js#L46
bufferd is set here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcprtubufferedport.js#L53

net socket timeout docs:
https://nodejs.org/api/net.html#net_socket_s

[2019-01-22 08:47] yaacov commented on #251
:+1:

We call the `timeout` event here:
https://github.com/yaacov/node-modbus-serial/blob/master/ports/tcprtubufferedport.js#L124

[2019-01-22 15:42] yaacov commented on #251
:+1:  Thanks, that makes sense,

What happen if you set the `timeout` to be never ? does that solve the problem on your end ?

p.s.
Feel free to test things :-) if you think you have a nice ( or even just something that will fix you issue ) please make a pull request.

[2019-01-22 23:37] sigma-design commented on #251
Having "no timeout" is not an option for me as I need a re-try mechanism for robustness and feedback, so I did not check it out.

After further thinking/testing, it looks like that the issue can be resolved by simply removing the "modbus.openFlag = false;" code line in the 'timeout' event handlers (tcpport.js and tcprtubufferedport.js).

The rationale is that the state of this flag in the timeout

[2019-01-23 04:46] yaacov commented on #251
:+1:

Thanks, pull request is preferred, with ref to this issue.

[2019-01-23 08:21] yaacov commented on #251
closed by #252

[2019-01-23 08:21] #251 closed

[2019-01-23 11:16] RobertSmart opened #253 "Queue? Has anyone succesfully implemented a queue for the BufferedRTU Connection"
Hi,

I'm just setting up a modbusRTU gateway, and am experiencing CRC errors when the request rate peaks.

Has anyone successfully implemented a queue for managing concurrent requests?

Thanks

[2019-01-23 12:14] yaacov commented on #253
a - You can try also asking in https://github.com/biancode/node-red-contrib-modbus
b - It may be something we can fix, if you see a way to fix it please make a pull request, it may help other people too.

cc @biancode

[2019-01-24 08:42] sigma-design commented on #240
Hi @gabrielpereirapinheiro ,

Recently I was implementing polling Modbus RTU units via Modbus TCP gateway and came up with the framework that seems to be working for this case as well, so maybe it can help you.

Please find below this framework that I have adapted for RTU and tried with USB-to-RS232 converter (plugging/unplugging several times):

[code]

[2019-01-24 10:45] yaacov commented on #240
@sigma-design can you add your code to the examples ?

[2019-01-25 17:40] RobertSmart commented on #107
I was just about to try this same thing. Best thing to do would to probably be to raise events for data transmission end and start (or beforeStart) so the logic to control the pins can be handled outside of this module (using the raspberry pi GPIO module). that would keep this module more generic then.

[2019-02-08 14:44] accateo opened #255 "read and write simultaneosly"
Hi,
it's possible to write and "read" simultaneosly?
For example, I would use a timer that, every seconds, call an "writeFC1" and another timer that, every 5 seconds, call an "writeFC5".
Maybe on the same register?
Thanks

[2019-02-08 15:21] yaacov commented on #255
Not If you use a serial line, somewhere.

a - if you know that that all connections from your client to the device are all TCP you can do parallel communication over tcp modbus.
b - if you have serial line on the path ( can also be some tcp to serial converter somewhere on the path,  even if it's TCP on you end ) you can not use parallel communication using modbus.

[2019-02-08 15:45] accateo commented on #255
Thank you!

[2019-02-11 06:11] swlcmsfleximc opened #256 "Got error code EMFILE for connect command"
I'm using Raspberry Pi + Raspbian OS.
Every minute, my script connects to few IPs, pulls some data, and then closes conenctions.
My script was running fine for hours/days.

Then suddenly I started getting `EMFILE` error code, in the `connectTCP` callback.

I am doing some file reading, but thats only at the start of script.

And there are some other services running that do some file reads/writes.

[2019-02-11 06:12] #256 closed

[2019-02-11 06:14] dushyantbangal opened #257 "Got error code EMFILE for connect command"
I'm using Raspberry Pi + Raspbian OS.
Every minute, my script connects to few IPs, pulls some data, and then closes conenctions.
My script was running fine for hours/days.

Then suddenly I started getting `EMFILE` error code, in the `connectTCP` callback.

I am doing some file reading, but thats only at the start of script.

And there are some other services running that do some file reads/writes.

[2019-02-11 06:15] swlcmsfleximc commented on #256
continued at #257
You can delete this.

[2019-02-11 07:39] yaacov commented on #257
Hi, Thanks for the issue.

If you/someone else find some more info about this, please post it here.

[2019-02-21 19:40] apb2019 opened #258 "User Defined Function Codes"
Could you add the ability to handle User Defined Function Codes (i.e. FC 65 to 72 and 100 to 110 decimal) as I would like to be able to send commands to a solar battery system that uses FC 66 (0x42) to control functions

[2019-02-21 20:00] yaacov commented on #258
Hi,

Thanks for the issue :peach: , I do not implement new features at the moment due to lack of time :-(
But I do accept fixes and new features in the form of pull requests :exclamation:

If you ( or someone you know ) want to implement this feature, and you wish to add it to the lib, please submit a pull request and link it to this issue.

p.s.
I also labelled this wit a `help wanted` label in c

[2019-02-22 11:53] fedesc opened #259 "getID(#) returns always true (1)."
I'm trying to create a loop to find unknown addresses connected in a line of controllers.
i thought sending a getID(loop_int) fn and see the response i get from each address.
but i always get true (1) in response.
for an address i know exists for sure and also an adress i know doesn't exists.

i'm trying to call the function at the callback fn after connection was made (modbusTRUBuffered fn)

am i

[2019-02-22 12:05] apb2019 commented on #258
Tx, unfortunately I don’t have the programming skills to do this myself. Hopefully someone may be able to take this on as I have yet to find any Modbus software that can handle user defined codes.

[2019-02-22 12:13] fedesc commented on #259
Now after digging a bit deeper in code i see that getID only returns this._unitID which i guess is the master Slave? i'm not sure.
`// set/get unitID
    cl.setID = function(id) {this._unitID = id;};
    cl.getID = function() {return this._unitID;};`

Is there a way doing what i'm trying to do if not with getID?
another approach maybe?

thanks in advance

[2019-02-22 12:21] fedesc commented on #259
nevermind got it 🗡

[2019-02-22 12:55] yaacov commented on #259
Hi, did you find out how to do it ?

If it works for you now, please comment on the way you solved it, and close this issue.
If you didn't solve the problem, just found a work around it's also OK, just leave a note here ( and don't close the issue :-) )

[2019-02-22 13:00] yaacov commented on #259
:candle: :candle: :wine_glass: :bread:

[2019-02-22 13:37] fedesc commented on #259
It's kind of a workaround which suit to my use-case; let me explain.

i'm building a gateway app to read a line of temperature controllers and broadcast through web.

the controllers are lined with rs485 and are identical so i use a random register which i know for a fact that exists on them and try to reach him on every address.

so... i've noticed that when i try to setID and look for a register

[2019-02-22 13:49] fedesc commented on #259
this is the output (i have only 137 connected ... i did the whole range from 0-255 but pasting only the results that matters :)
![image](https://user-images.githubusercontent.com/13513916/53246462-158a3080-36b1-11e9-9e96-33a8dede9f90.png)

[2019-02-22 15:12] yaacov commented on #259
for code use 3 squats  ` ``` `  like this:

[code]

IMHO this is the best way ...

p.s.
I think using `finally` [1] for the recursion check is nicer :-)

[1] https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally

[2019-02-22 15:13] #259 closed

[2019-02-22 16:07] yaacov commented on #259
p.p.s

Most rs485 lines are limited to 32 units max, maybe you can limit the search to 32 instead of 255 ?
 This depends on the way the ID's are allocated ...

[2019-03-26 05:09] raviteja2503 opened #261 "Error: Modbus exception 2"
Hi I am using a RS485-USB converter to connect to an energy meter Modbus RS485 to read the modbus registers. I am trying read holding register 3203 with the help of this module but i am unable to read, i am getting the following error.
![serial-error](https://user-images.githubusercontent.com/22231387/54972579-372d4f00-4fb2-11e9-9ec3-9804d15bfd63.PNG)

And my code snippet is:
![codeSnippet](https:

[2019-03-26 07:29] yaacov commented on #261
Hi, thanks for the issue !

a - can you try one of the examples,
For example, replace the connection and reading info, to work with your machine, in `loggrer.js`:
https://github.com/yaacov/node-modbus-serial/blob/master/examples/logger.js

b- sometimes when device docs say register 3xxx (e.g. 3203) they mean "Analog Input Registers" number 203, you can try also reading register 203 and also trying

[2019-03-27 05:38] raviteja2503 commented on #261
Hi, Thanks for the reply.
a. I tried the examples also but no change.
b. Actually the my register when i connect from ModScan Software is 43203 and as 4 is holding register i am trying to read 3203. Even i tried 43203 also but i am facing same issue.

Here the thing is when i try to read the holding registers 0-30 i am successfully reading but more than that i am unable to do.

[2019-03-27 05:49] yaacov commented on #261
Can you run with debug output on: ( e.g. `export DEBUG=modbus-serial` on linux ) and look at the messages ?

[2019-03-27 09:24] raviteja2503 commented on #261
Hi I tried that `export DEBUG=modbus-serial` and i got the following messages.
when i try to read the register 3203.
![debug](https://user-images.githubusercontent.com/22231387/55064095-68377d80-509f-11e9-9cde-1a7e0648ba61.PNG)
when i tried to read the registers between 1-30 i got the following message.
![debug1to30](https://user-images.githubusercontent.com/22231387/55064487-12afa080-50a0-11e9-83

[2019-03-27 09:33] yaacov commented on #261
The request looks OK, and the responce is "ILLEGAL DATA ADDRESS"
Are you sure address is currect ?

Request:

Part of Data Package | Description | Value
-- | -- | --
01 | Slave address | 0x01 (1)
03 | Function code | 0x03 (3) - Read Holding Registers
0C 83 | Starting address | 0x0C84 (3204)
00 01 | Quantity | 0x0001 (1)
76 B2 | CRC | 0x76B2 (30386)

Responce:

Part of Data Package | Description |

[2019-03-27 09:34] yaacov commented on #261
Ahhh, look at the address it's 3204 ....

[2019-03-27 09:50] raviteja2503 commented on #261
Yes, The address is 3203 when i am trying with Modscan software i am getting the actual (Live) value on that register i.e the value which energy meter is showing in the screen.

[2019-03-27 09:51] sigma-design commented on #261
Could it be never ending Modbus confusion between 'address' and 'register' number, i.e. offset 0 or 1 ?
Typically, notation 43203 means "Holding register" number 3203, but actual address in the request/response would be 3202.
So, if the function readHoldingRegisters requires 'address' as an argument, then it should be 3202.

[2019-03-27 09:59] raviteja2503 commented on #261
Thanks for the quick reply.
I tried with that also but i am facing same issue. the issue is not only with that particular address, when i try to read the address more 30 i am getting the issue.

[2019-03-27 10:01] yaacov commented on #261
Can you look at  the raw message  Modscan software send and receive ... maybe we can understand something, the request for 3202~3 looks right to me :-( and should work ...

[2019-03-27 10:41] raviteja2503 commented on #261
Now i am getting the output, thanks for the help.
The issue is when i am giving length 6 i am able to get the value and when i want to read that singe register i am facing the issue.
The code snippet which is working is.
[code]
May i know why this problem occurred, Here i am getting values in decimal format i want in floating format how this can achieved.

[2019-03-27 10:46] yaacov commented on #261
:question:  we will have to look into it, I think that looking at raw data from  Modscan may help to understand ...

[2019-03-27 10:54] raviteja2503 commented on #261
Ok, I will look into the raw data from Modscan part.
Thanks for the help

[2019-03-27 13:40] sigma-design commented on #261
If you are trying to read 32-bit floating point value, then it occupies 2 Modbus registers, so requesting odd number of registers is supposed to be rejected by the slave unit as an invalid request (your initial code shows request just for 1 register).
To read 32-bit values the request must be for even number of registers.

[2019-03-29 18:13] raviteja2503 commented on #261
OK, Now i got it and i am able to read data successfully. Thanks for that help.

[2019-03-29 18:13] #261 closed

[2019-04-02 08:34] Woiife opened #262 "Max register quantity"
Hello,

for my own implementation i would like to know how this project handles the maximum register quantity for each function code.

E. g: 2000 at once for Read Coils (FC 0x01). I have tried to review the code but could not find anything (Asking specially for TCP client).

I dont have to much exp with modbus, so I am not sure if it plays no role for Modbus TCP, or if it is critical at all.

If i

[2019-04-02 08:52] yaacov commented on #262
AFAIK, total number of colis is limited by 0 - 0xffff, same for register address, but you should look at the machine specs/docs, some machines have no or very few valid addresses.

[2019-04-02 09:16] Woiife commented on #262
Wow what a quick response! Thank you very much.

Ofc I will take the individual device into account. But my question is really about the maximum quantity. If you look in the modbus specs

http://www.modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf

You see on page 5 that the maximum PDU size is 253. If you compare with the FC03 they limit the maximum quantity of registers to 125. Since in th